<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>
<%!
    from django.core.urlresolvers import reverse
    from util.date_utils import get_time_display
    from django.utils.translation import ugettext as _
    from django.conf import settings
    from openedx.core.djangolib.markup import HTML, Text
%>

<%def name="make_chapter(chapter)">
<div class="chapter-title">
  <a href="${reverse('courseware_chapter', args=[course_id, chapter['url_name']])}">
    ${ chapter['display_name'] }
  </a>
</div>
<div class="line"></div>
% for section in chapter['sections']:
  <div class="section">
    <div class="dot ${'green'  if section['passed'] else 'gray'}" style="background-color: transparent;"></div>

      % if section['paused'] and not section['passed']:
      <div class="circle">
        <span class="icon fa fa-play"></span>
      </div>
      % elif section['paused'] and section['passed']:
      <div class="circle" style="background-color: #8A4186;">
        <img src="/static/themes/phileastheming/images/icon_check.png" style="width: 26px; height: 26px; margin-bottom: 3px;"/>
      </div>
      % elif section['passed']:
      <div class="circle" style="background-color: #8A4186;">
        <img src="/static/themes/phileastheming/images/icon_check.png" style="width: 26px; height: 26px; margin-bottom: 3px;"/>
      </div>
      % else:
      <div class="circle">

      </div>
      % endif
    <div class="section-title ${'paused' if section['paused'] else ''}">
    <a href="${reverse('courseware_section', args=[course_id, chapter['url_name'], section['url_name']])}">
      ${section['section_index']} / ${section['display_name']}
    </a>
    </div>
  </div>
  <div class="line"></div>
% endfor
</%def>

% for chapter in chapters:
    ${make_chapter(chapter)}
% endfor
