<%page expression_filter="h"/>
<%inherit file="base.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from contentstore import utils
from openedx.core.djangolib.js_utils import (
dump_js_escaped_json, js_escaped_string
)
from openedx.core.djangolib.markup import HTML, Text
%>

<%block name="title">${_("Customize Settings")}</%block>
<%block name="bodyclass">is-signedin course view-settings</%block>

<%block name="requirejs">
    require(["${static.url('js/settings_customize.js')}"], function (settings_customize) {});
</%block>
<%
i = 0;
grade = 100;
%>

<%block name="content">
<div class="wrapper-mast wrapper">
    <header class="mast has-subtitle">
        <h1 class="page-header">
        <small class="subtitle">${_("Settings")}</small>
        <span class="sr">&gt; </span>${_("Customize Settings")}
        </h1>
    </header>
</div>
<div class="wrapper-content wrapper">
    <section class="content">
        <article class="content-primary" role="main">
            <form id="settings_customize" class="settings-advanced">
                <!--                 <input type="hidden" id="csrf_token" name="csrfmiddlewaretoken" value="${csrf_token}">
                -->                <section class="group-settings enrollment-workflow">
                    <header>
                        <h2 class="title-2">${_("Course is new")}</h2>
                    </header>
                    <ol class="list-input">
                        <li class="field" id="field-course-new">
                            <input type="checkbox" name="is_new" value="True" ${"checked" if is_new or is_new== None else ""}>True<br>
                            <input type="checkbox" name="is_new" value="False" ${"checked" if not is_new and is_new!= None else ""}>False
                            <span class="tip tip-stacked">${_("Wether the course is new or not")}</span>
                        </li>
                    </ol>
                </section>
                <section class="group-settings enrollment-workflow">
                    <header>
                        <h2 class="title-2">${_("Course is on invitation only")}</h2>
                    </header>
                    <ol class="list-input">
                        <li class="field" id="field-course-invite">
                            <input type="checkbox" name="invitation_only" value="True" ${"checked" if invitation_only else ""}>True<br>
                            <input type="checkbox" name="invitation_only" value="False" ${"checked" if not invitation_only else ""}>False
                            <span class="tip tip-stacked">${_("Wether the course is only on invitation or not")}</span>
                        </li>
                    </ol>
                </section>
                <section class="group-settings enrollment-workflow">
                    <header>
                        <h2 class="title-2">${_("Couse is only for Managers")}</h2>
                    </header>
                    <ol class="list-input">
                        <li class="field" id="field-course-mangager">
                            <input type="checkbox" name="manager_only" value="True" ${"checked" if  manager_only else ""}>True<br>
                            <input type="checkbox" name="manager_only" value="False" ${"checked" if not manager_only else ""}>False
                            <span class="tip tip-stacked">${_("Wether the course is only for managers or not")}</span>
                        </li>
                    </ol>
                </section>
                <!-- maj geoffrey -->
                <header>
                    <h2 class="title-2">${_("Course Score")}</h2>
                </header>
                <ol class="list-input">
                    <li class="field" id="field-course-mangager">
                        <select name="grade_badge">
                        % for i in range(101):
                           % if i == grade_badge:
                              <option value="${i}" selected>${i}</option>
                           % else:
                              <option value="${i}">${i}</option>
                           % endif
                        % endfor
                        </select>
                            <span class="tip tip-stacked">${_("Grade value")}</span>
                    </li>
                </ol>
            </section>
            </form>
            <button id="btn_submit" style="float:right;border: 1px solid #007fb8;border-radius: 3px;background-color: #009fe6;color:white;padding:5px 10px;font-weight:600;">${_("Save")}</button>
        </article>
    </section>
</div>


    </%block>
