// lms - views - dashboard course progress view
// ============================================

$progressbar-padding: 5px;
$progress-loader-color: #ED832F;

.course-progress {
    padding-top: $progressbar-padding;
}

.loader-orange {
    color: $progress-loader-color;
}