@import "variable";

#contenair_title {
  width: 1180px;
  padding-left: calc((100% - 1180px) / 2);
  padding-right: calc((100% - 1180px) / 2);
  height: auto;
}
#contenair_title {
  padding-top: 25px;
  padding-bottom: 25px;
}
@media(max-width: 1180px) {
  #contenair_title {
    width : calc(100% - 10px);
    padding-left: 5px;
    padding-right: 5px;
  }
  #contenair_inside {
    width: 100%;
  }
}
#title {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  font-weight: 600;
  line-height: 28px;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: $title_background_color;
  color: $title_color;
  font-size: 30px;
  font-family: $gotham_med;
}
#ariane a,#ariane a:hover,#ariane a:visited,#ariane a:focus {
  color: ariane_color;
  font-size: 14px;
  font-family: $helvetica;
  text-decoration: none;
}
.baniere {
  padding:0;
  width: 1440px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  font-family: $gothamrounded_book;
  text-align: justify;
}
.baniere-img {
background-image:url('/static/themes/phileastheming/images/img_index_desktop.png');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: relative;
background-color: $baniere_img_background_color;
height: 102px;
padding-top:124px;
padding-bottom:124px;
position: relative;
}
.ariane_news {
  position: absolute;
  width: 100%;
  top: 25px;
  left: 170px;
  z-index: 10;
}
.ariane_news a,.ariane_news a:hover,.ariane_news a:focus {
  color: $ariane_news_color;
  display: inline;
  text-transform: none;
}
.separation {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  color: $separation_color;
}
/*
.heading-group p {
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 23px;
  font-family: $helvetica_light;
  text-align: justify;
}
*/
:focus {
    outline: none;
}
.h1-span {
    display: block;
    width: 100%;
    height: 45px;
    color: $h1_span_color;
    font-family: $gothamrounded_book;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: justify;
}
#content_cpf {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
#titre_cpf {
  padding-top: 50px;
  padding-bottom: 50px;
}
#titre_cpf,#paragraphes_cpf,#video_cpf {
  height: auto;
  width: 1180px;
  padding-left: calc((100% - 1180px) / 2);
  padding-right: calc((100% - 1180px) / 2);
}
@media(max-width:1180px) {
  #paragraphes_cpf {
    width: 100%;
  }
}
#titre_cpf h1 {
  text-transform: uppercase;
  background-color: transparent;
  color: $titre_cpf_h1_color;
  font-size: 30px;
  font-family: $gotham_med;
  text-align: left;
  padding-left: 20px;
  width: calc(100% - 40px);
  text-align: justify;
}
#video_cpf img {
  display: block;
  float: left;
  height: 310px;
  width: calc(25%);
}
#video_cpf iframe {
  padding: 0;
  border: none;
  margin: 0;
  display: block;
  float: left;
  width: 75%;
  height: 310px;
}
#into_video_cpf {
  width: 70%;
  height: auto;
  text-align: center;
}
#clear-left {
  clear: left;
}
@media(max-width: 1440px) {
  #content_cpf {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
  }
}
@media(max-width: 1180px) {
  #video_cpf img {
    width: 17.4vw;
    height: 26.2vw;
  }
  #video_cpf iframe {
    width: 52vw;
    height: 26.2vw;
  }
  #video_cpf {
    width: 100vw;
  }
}
@media(max-width:768px) {
  #into_video_cpf {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #video_cpf img {
    width: 25vw;
    height: 37.7vw;
  }
  #video_cpf iframe {
    width: 75vw;
    height: 37.7vw;
  }
}
#menu_info {
  width: 70%;
  margin-top: 40px;
  margin-bottom: 40px;
}
  .menu_top {
    width: calc(100% - 16px);
    padding-left: 8px;
    padding-right: 8px;
    line-height: 60px;
    vertical-align: middle;
    background-color: $menu_top_background_color;
    color: $menu_top_color;
    font-family: $helvetica_medium;
  }
  .menu_down {
    width: calc(100% - 20px);
    height: auto;
    display:none;
    padding: 10px;
    color: $menu_down_color;
    font-family: $helvetica_light;
  }
  .menu_down p {
    padding: 0;
    margin: 0;
  }
  .marge {
    width: 100%;
    height: 5px;
  }
  @media(max-width: 768px) {
    #menu_info {
      width: calc(100% - 10px);
      padding-left: 5px;
      padding-right: 5px;
    }
  }
