.posted-details .username{
    display: inline-block;
    vertical-align: middle;
    min-height: 52px;
    line-height: 52px;
}
.box{
    display: none;
}

.username:hover + .box,.box:hover{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 100;
}

.rounded {
  border-radius: 50%;
  border: black solid 1px;
}

.tutor{ background:#25b85a !important; }