div.sequence-nav {text-align: center;}
ul#sequence-list {list-style-type: none; display: inline-block; padding: 0 30px; margin:0 auto;}
ul#sequence-list li {display: inline-block; padding-left: 57px; position: relative; }
span.sequence-nav-button,
ul#sequence-list li:hover {cursor: pointer;}
ul#sequence-list li::before {
    content: '';
    display: inline-block;
    height: 4px;
    width: 76px;
    background-color: #676767;
    position: absolute;
    left: -11px;
    top:16px;
    cursor: auto;
}
ul#sequence-list li:first-child {padding-left: 0px;}
ul#sequence-list li:first-child::before {height: 0; width: 0;}
.sequence-tooltip {
  margin-top: 14px;
  background: #333;
  color: #FFFFFF;
  right: -5px;
  padding: 6px;
  position: absolute;
  top: 22px;
  text-shadow: 0 -1px 0 #000;
  text-align: left;
  white-space: pre;
  pointer-events: none;
}
.sequence-tooltip::after {
  background: #333;
  content: " ";
  display: block;
  height: 10px;
  right: 18px;
  position: absolute;
  top: -5px;
  transform: rotate(45deg);
  width: 10px;
}