#footer-openedx {
    background-color: #363F4E;
    min-height: 85px;
    line-height: 85px;
}
#footer-openedx a, #footer-openedx a:hover, #footer-openedx a:visited { color: #FFFFFF; text-decoration: none; }
nav ol li {
  display: inline-block;
  margin: 0 10px;
}
.organization { float: left; margin-left: 70px; }
nav {
    text-align: right;
    margin-right: 50px;
}