.welcome-wrapper {width: 100%; margin-bottom: 50px; }
.accordion { width: 75%; float: left;}
.analysis {
    width: 25%;
    margin-left: 75%;
}
.charts {
    width: 100%;
    min-height: 140px;
    padding: 30px 0;
    background-color: #FFFFFF;
}
.chapter-title {
    height: 50px;
    line-height: 50px;
    width: 83%;
    padding-left: 15%;
    background-color: #009DE0;
    color: #FFFFFF;
}
.chapter-title a, .chapter-title a:hover, .chapter-title a:visited {
    color: #FFFFFF;
    text-decoration: none;
}
.line {
    border-right: 2px solid #8A4186;
    height: 30px;
    width: 18%;
}
.section {
    height: 27px;
    line-height: 27px;
    width: 83%;
    padding-left: 13%;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 15px;
  float: left;
  margin-top: 8px;
}
.green {background-color: #4FE696;}
.gray {background-color: #E5EAEF;}

.circle {
  height: 25px;
  width: 25px;
  border-radius: 25px;
  border: solid 2px #8A4186;
  margin-left: 15px;
  float: left;
  color: #8A4186;
  line-height: 25px;
  text-align: center;
  font-size: 0.7em;
}

.section-title {
    height: 30px;
    line-height: 30px;
    margin-left: 80px;
}
.section-title a, .section-title a:hover, .section-title a:visited {
    color: #000000;
    text-decoration: none;
}
.paused a { font-weight: bold; }

.chart {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
    text-align: center;
    margin-right: 20px;
}
.percent {
    display: inline-block;
    line-height: 110px;
    z-index: 2;
    font-weight: bold;
    color: #8A4186;
    font-size: 1.4em;
}
.percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
}
.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.chart-title {
    text-transform: uppercase;
    font-weight: 400;
    line-height: 35px;
    font-size: 14px;
    padding-left: 8px;
}
.progress {
    width: 111px;
    float: left;
    padding-left: 10px;
}
.numbers {
    margin-left: 25px;
    margin-top: 20px;
    width: 60px;
    float: left;
}
.score {
    height: 55px;
    width: 55px;
    border-radius: 55px;
    border: solid 2px #8A4186;
    color: #8A4186;
    line-height: 55px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;   
}
.badge {
    height: 55px;
    width: 55px;
    color: #E5EAEF;
    line-height: 55px;
    text-align: center;
    font-size: 3.4em;
    font-weight: bold;   
}
.achieved { color: #8A4186; }
.achievement {
    margin-left: 26px;
    margin-top: 20px;
    width: 60px;
    float: left;
}

.progression-button {
    margin-top: 1px;
    background-color: #FFFFFF;
}
.bar-chart {
    text-align: center;
}
.view-my-progress {
    height: 45px;
    text-align: center;
    line-height: 45px;
    background-color: #8A4186;
    text-transform: uppercase;
}
.view-my-progress a, .view-my-progress a:hover, .view-my-progress a:visited { color: #ffffff; display: block; }

.social {
    height: 75px;
    background-color: #FFFFFF;
    text-align: center;
    line-height: 75px;
}
.social-circle {
    height: 40px;
    width: 40px;
    display: inline-block;
    border-radius: 40px;
    background-color: #8A4186;
    line-height: 40px;
    color: #FFFFFF;
}
.social-circle a, .social-circle a:hover, .social-circle a:visited {
    color: #FFFFFF;
    text-decoration: none;
}
.social-right-most { margin-left: 20px; }
