  <%!
  import json
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.js_utils import dump_js_escaped_json
%>
<%inherit file="../main.html" />
<%
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
%>

<%namespace name='static' file='../static_content.html'/>
<% style_overrides_file = static.get_value('css_overrides_file') %>
% if course_discovery_enabled:
<%block name="header_extras">
  % for template_name in ["course_card", "filter_bar", "filter", "facet", "facet_option"]:
  <script type="text/template" id="${template_name}-tpl">
      <%static:include path="discovery/${template_name}.underscore" />
  </script>
  % endfor
  <%static:require_module module_name="js/discovery/discovery_factory" class_name="DiscoveryFactory">
    DiscoveryFactory(
      ${course_discovery_meanings | n, dump_js_escaped_json},
      getParameterByName('search_query')
    );
  </%static:require_module>
</%block>
% endif
<%
#import SSO test
import json
import requests
import hashlib
import datetime

now = datetime.datetime.now()

date = now.strftime("%d%m%Y")

api = 'xGXMdnyltTAHZMSHPZHg'
partenaire = 'CgFVrWdhuSVccijkVVwF'
email = 'amundi3.admin@vodeclic.com'
id_membre = 'amundi3.admin'
day = '08'
month = '09'
year = '2016'

crypt = hashlib.sha256(id_membre+api).hexdigest()

d = hashlib.sha256(date+api).hexdigest()

url = 'https://lms.vodeclic.com/api/sso?'

data_fr = 'partenaire='+partenaire+'&encrypted_id='+crypt+'&id='+id_membre+'&email='+email+'&d='+d+''

href_sso = url+data_fr
#fin import SSo
%>
<!-- GEOFFREY -->
<script>
var href_sso =' ${href_sso}';
</script>
<!-- GEOFFREY -->
<%block name="pagetitle">${_("Courses")}</%block>
<!--
<LINK href="/static/css/courses.css" rel="stylesheet" type="text/css">
-->
<%block name="headextra">
  <link rel="stylesheet" type="text/css" href="${static.url('css/courses.css')}">
</%block>
  <script>
    function suppressBlueLink() {
      var largeurPage = $(document).width();
      if(parseInt(largeurPage) <= 486) {
        $('.learn-more').hide();
      }else{
        $('.learn-more').show();
      }
    }
    $(document).ready(function(){
      suppressBlueLink();
    })
    $(window).resize(function(){
      suppressBlueLink();
    })
  </script>
<section class="find-courses">
<div class="courses-all">
<div class="courses-up">
    <a href="">Home</a> &gt; <a href="">Courses Catalogue</a> &gt; <a href="">All formations</a>
</div>
<div class="courses-up-bis">
All courses
</div>
% if course_discovery_enabled:
<div id="discovery-form" role="search" aria-label="course" class="wrapper-search-context">
  <div id="discovery-message" class="search-status-label courses-down-up"></div>
  <form class="wrapper-search-input nav-courseware-01">
    <input id="discovery-input" class="discovery-input" placeholder="${_('Search for a course')}" type="text"/>
    <button type="submit" class="button postfix discovery-submit" aria-label="${_('Search')}">
      <div aria-live="polite" aria-relevant="all">
        <div id="loading-indicator" class="loading-spinner hidden">
          <i class="icon fa fa-spinner fa-spin"></i>
          <span class="sr">${_('Loading')}</span>
        </div>
      </div>
    </button>
  </form>
</div>
% endif
</div>
  <section class="courses-container" style="padding-top: 0;">
    % if course_discovery_enabled:
    <aside aria-label="${_('Refine Your Search')}" class="search-facets phone-menu" id="table_search">
      <h2 class="header-search-facets">${_('More courses')}</h2>
      <section class="search-facets-lists">
      </section>
    </aside>
    % endif
    <div class="courses no-course-discovery" role="region" aria-label="${_('List of Courses')}" style="
      border-bottom: none;
    ">
    <LINK href="/static/css/course.css" rel="stylesheet" type="text/css">
      <ul class="courses-listing">
        %for course in courses:

        <li class="courses-listing-item courses-li">
          <%include file="../course.html" args="course=course" />
        </li>
        %endfor
      </ul>
    </div>

  </section>
</section>
<script>
function TailleImage(){
  $('.course-image').each(function(){
    var This = $(this).children().children('img');
    Taille = $(this)
    var Src = $(this).children().children('img').attr('src');
    var img = new Image();
    var tailleWidth = $(this).width();
    var tailleHeight = $(this).height();

    img.src = Src;
    var imgWidth = img.width;
    var imgHeight = img.height;
    var Org = Taille.data('org');
    console.log(Org);
    if(imgWidth < tailleWidth && imgHeight < tailleHeight && Org == 'Vodeclic')
    {
      marginTop = (tailleHeight - imgHeight)/2;
      marginLeft = (tailleWidth - imgWidth)/2;
      console.log(marginTop);
      This.css('width',imgWidth+'px');
      This.css('height',imgHeight+'px');
      This.css('padding-top',marginTop+'px');
      This.css('padding-bottom',marginTop+'px');
      This.css('padding-left',marginLeft+'px');
      This.css('padding-right',marginLeft+'px');
      This.css('background-color','#fff');
      Taille.css('background-color','#fff');
    }
  })
}
$(document).ready(function(){
  TailleImage();
})
$(window).resize(function(){
  TailleImage();
})
var functionImage = function() {
  console.log('$(this)');
}
</script>
