<%page expression_filter="h"/>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>
<%def name="online_help_token()"><% return "courseware" %></%def>
<%!
from django.utils.translation import ugettext as _
from django.conf import settings

from edxnotes.helpers import is_feature_enabled as is_edxnotes_enabled
from openedx.core.djangolib.markup import HTML
from openedx.core.djangolib.js_utils import js_escaped_string
%>
<%
  include_special_exams = settings.FEATURES.get('ENABLE_SPECIAL_EXAMS', False) and (course.enable_proctored_exams or course.enable_timed_exams)
%>
<%def name="course_name()">
 <% return _("{course_number} Courseware").format(course_number=course.display_number_with_default) %>
</%def>

<%block name="bodyclass">view-in-course view-courseware courseware ${course.css_class or ''}</%block>

<%block name="title"><title>
    % if section_title:
${static.get_page_title_breadcrumbs(section_title, course_name())}
    % else:
${static.get_page_title_breadcrumbs(course_name())}
    %endif
</title></%block>

<%block name="header_extras">
<link rel="stylesheet" type="text/css" href="${static.url('css/tma_courseware.css')}" />
<link rel="stylesheet" type="text/css" href="${static.url('css/tma_seq.css')}" />
<link rel="stylesheet" type="text/css" href="${static.url('css/discussion.css')}" />

% for template_name in ["image-modal"]:
<script type="text/template" id="${template_name}-tpl">
    <%static:include path="common/templates/${template_name}.underscore" />
</script>
% endfor

% if settings.FEATURES.get('ENABLE_COURSEWARE_SEARCH'):
    % for template_name in ["course_search_item", "course_search_results", "search_loading", "search_error"]:
        <script type="text/template" id="${template_name}-tpl">
            <%static:include path="search/${template_name}.underscore" />
        </script>
    % endfor
% endif

% if include_special_exams:
  % for template_name in ["proctored-exam-status"]:
    <script type="text/template" id="${template_name}-tpl">
        <%static:include path="courseware/${template_name}.underscore" />
    </script>
  % endfor
% endif

</%block>

<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>
## Utility: Notes
% if is_edxnotes_enabled(course):
<%static:css group='style-student-notes'/>
% endif
<style>
.wrapper-course-modes,.course-content .bookmark-button-wrapper {
 display: none;
}

</style>
<%include file="../discussion/_js_head_dependencies.html" />
  ${HTML(fragment.head_html())}
</%block>

<%block name="js_extra">
  <script type="text/javascript" src="${static.url('common/js/vendor/jquery.scrollTo.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.js')}"></script>

  ## codemirror
  <script type="text/javascript" src="${static.url('js/vendor/codemirror-compressed.js')}"></script>

  <%static:js group='courseware'/>
  <%static:js group='discussion'/>
  % if settings.FEATURES.get('ENABLE_COURSEWARE_SEARCH'):
    <%static:require_module module_name="js/search/course/course_search_factory" class_name="CourseSearchFactory">
        var courseId = $('.courseware-results').data('courseId');
        CourseSearchFactory(courseId);
    </%static:require_module>
  % endif

  <%static:require_module module_name="js/courseware/courseware_factory" class_name="CoursewareFactory">
    CoursewareFactory();
  </%static:require_module>

  <%include file="../discussion/_js_body_dependencies.html" />
  % if staff_access:
    <%include file="xqa_interface.html"/>
  % endif

  <script type="text/javascript">
    var $$course_id = "${course.id | n, js_escaped_string}";
  </script>

${HTML(fragment.foot_html())}

</%block>

<div class="message-banner" aria-live="polite"></div>

% if default_tab:
  <%include file="/courseware/course_navigation.html" />
% else:
  <%include file="/courseware/course_navigation.html" args="active_page='courseware'" />
% endif
<div class="container">
  <div class="course-wrapper" role="presentation">

% if disable_accordion is UNDEFINED or not disable_accordion:
    <div class="course-index">

      <div class="wrapper-course-modes">

          <div class="courseware-bookmarks-button" data-bookmarks-api-url="${bookmarks_api_url}">
              <button type="button" class="bookmarks-list-button is-inactive" aria-pressed="false">
                  ${_('Bookmarks')}
              </button>
          </div>

          % if settings.FEATURES.get('ENABLE_COURSEWARE_SEARCH'):
            <div id="courseware-search-bar" class="search-bar courseware-search-bar" role="search" aria-label="Course">
              <form>
                <label for="course-search-input" class="sr">${_('Course Search')}</label>
                <div class="search-field-wrapper">
                  <input id="course-search-input" type="text" class="search-field"/>
                  <button type="submit" class="search-button">
                    ${_('search')} <span class="icon fa fa-search" aria-hidden="true"></span>
                  </button>
                  <button type="button" class="cancel-button" title="${_('Clear search')}">
                    <span class="icon fa fa-remove" aria-hidden="true"></span>
                  </button>
                </div>
              </form>
            </div>
          % endif

      </div>

      <div class="accordion">
        <nav class="course-navigation" aria-label="${_('Course')}">
          % if accordion.strip():
            ${HTML(accordion)}
          % else:
            <div class="chapter">${_("No content has been added to this course")}</div>
          % endif
        </nav>
      </div>

    </div>
% endif
    <section class="course-content" id="course-content">
        <main id="main" aria-label="Content" tabindex="-1">
        % if getattr(course, 'entrance_exam_enabled') and \
           getattr(course, 'entrance_exam_minimum_score_pct') and \
           entrance_exam_current_score is not UNDEFINED:
            % if not entrance_exam_passed:
            <p class="sequential-status-message">
                ${_('To access course materials, you must score {required_score}% or higher on this \
                exam. Your current score is {current_score}%.').format(
                    required_score=int(round(course.entrance_exam_minimum_score_pct * 100)),
                    current_score=int(round(entrance_exam_current_score * 100))
                )}
            </p>
            <script type="text/javascript">
            $(document).ajaxSuccess(function(event, xhr, settings) {
                if (settings.url.indexOf("xmodule_handler/problem_check") > -1) {
                    var data = JSON.parse(xhr.responseText);
                    if (data.entrance_exam_passed){
                        location.reload();
                    }
                }
            });
            </script>
            % else:
              <p class="sequential-status-message">
                ${_('Your score is {current_score}%. You have passed the entrance exam.').format(
                    current_score=int(round(entrance_exam_current_score * 100))
                )}
            </p>
            % endif
        % endif

          ${HTML(fragment.body_html())}
          <a id="floating_button" class="" style="display:none">
            <img src="${static.url('images/discussionicon.png')}" />
          </a>
        </main>
    </section>

    <section class="courseware-results-wrapper">
      <div id="loading-message" aria-live="polite" aria-relevant="all"></div>
      <div id="error-message" aria-live="polite"></div>
      <div class="courseware-results search-results" data-course-id="${course.id}" data-lang-code="${language_preference}"></div>
    </section>

  </div>
</div>
<div class="container-footer">
  % if settings.FEATURES.get("LICENSING", False):
    <div class="course-license">
    % if getattr(course, "license", None):
      <%include file="../license.html" args="license=course.license" />
    % else:
      ## Default course license: All Rights Reserved, if none is explicitly set.
      <%include file="../license.html" args="license='all-rights-reserved'" />
    % endif
    </div>
  % endif
</div>

<nav class="nav-utilities ${"has-utility-calculator" if course.show_calculator else ""}" aria-label="${_('Course Utilities')}">
  ## Utility: Notes
  % if is_edxnotes_enabled(course):
    <%include file="/edxnotes/toggle_notes.html" args="course=course"/>
  % endif

  ## Utility: Calc
  % if course.show_calculator:
    <%include file="/calculator/toggle_calculator.html" />
  % endif
</nav>

<%include file="../modal/accessible_confirm.html" />
<script type="text/javascript">
  mPrepareTrackAjax = function(){
    % if not settings.FEATURES.get('TMA_ENABLE_COMPLETION_TRACKING'):
    return;
    % endif
    var mUsageIds = [];
    var mCourseId = "${course.id}";

    $(".vert .xblock-student_view-html").each(function(){
      mUsageIds.push($(this).attr('data-usage-id'));
    });

    if(mUsageIds.length > 0){

      $.post({
        url: "/track_html_component",
        data: {
          'usage_ids': JSON.stringify(mUsageIds),
          'course_id': mCourseId
        }
      }); // post

    } // if
  }

  getCompletionStatus = function(){
    % if not settings.FEATURES.get('TMA_SHOW_COMPLETION_ON_COURSEWARE_NAVIGATION'):
    return;
    % endif
    var mCourseId = "${course.id}";
    var circleGreen = '<div class="completed green"></div>';
    var circleGray = '<div class="completed gray"></div>';

    $.get({
      url: "/completion_status/",
      data: {
        'course_id': mCourseId
      },
      success: function(data) {
        var chaptersCompleted = data['completion_status']['chapters_completed'];
        for (var chapterIndex in chaptersCompleted) {
          var chapterName = chaptersCompleted[chapterIndex];
          var ChapterID = "#" + (chapterName.split(" ").join("-").toLowerCase() + "-parent");
          $(ChapterID).children().find(".completed").remove();
          $(ChapterID).children().append(circleGreen);
          var childrenSectionsId = ChapterID.replace("parent", "child");
          $(childrenSectionsId).children().children().each(function(){
            $(this).children().children().find(".completed").remove();
            $(this).children().children(".accordion-display-name").append(circleGreen);
          });
        } // for 1

        var sectionsCompleted = data['completion_status']['sections_completed']
        for (var sectionIndex in sectionsCompleted) {
          var sectionName = sectionsCompleted[sectionIndex];
          var parentChapter = $("a.accordion-nav[href*='"+sectionName+"']").parent().parent().parent().prev();
          parentChapter.children().find(".completed").remove();
          parentChapter.children().append(circleGray);
          $("a.accordion-nav[href*='"+sectionName+"']").children().find(".completed").remove();
          $("a.accordion-nav[href*='"+sectionName+"']").find(".accordion-display-name").append(circleGreen);
        } // for 2

      }
    }); // get

  }

  // set seq nav
  saveUnitVisitStatus = function(unit_id){
    $.post({
      url: "/save_unit_visit/",
      data: {
        'unit_id': unit_id
      }
    }); // post
  }
  setVisitStatusOfUnits = function(){
    $("ul#sequence-list li img").each(function(){   
        if ($(this).hasClass('active')){
          $(this).attr('src', "${static.url('images/nav/blue-red.png')}");
          if (! $(this).hasClass('seen')){
            $(this).addClass('seen');
            saveUnitVisitStatus($(this).data('id'));
          }
        } else if ($(this).hasClass('seen')){
          $(this).attr('src', "${static.url('images/nav/filled.png')}");
        } else {
          $(this).attr('src', "${static.url('images/nav/empty.png')}");
        }
    });
  }
  $(".nav-item").ajaxSend(function(event, xhr, settings){
      if( settings.url.endsWith('goto_position') ) {
        setTimeout(function(){
          setVisitStatusOfUnits();
        }, 1000);
      }
  });
  // set seq nav

  floatingButton = function() {
    % if not settings.FEATURES.get('TMA_ENABLE_FORUM_FLOATING_BUTTON'):
      return;
    % endif
    var floating_button = $('#floating_button');
    var discussion_block = $('*[data-block-type=discussion]');
    if (discussion_block.length > 0) {
      discussion_block_id = discussion_block.attr('data-usage-id');
      discussion_block.attr('id',discussion_block_id);
      floating_button.attr('href','#'+discussion_block_id);
      path = window.location.pathname;
      path_array = path.split("/");
      course_id = "${course.id}";
      section_id = path_array[5];

      $.get({   
        url: "/assignment_passing_status/" + course_id + "/" + section_id + "/",
        dataType: "json",
        success: function(data) {
          if (data.passed == true){
            $('#floating_button').addClass('pass');
            $('#floating_button').attr('title', 'Answer a question');
            $('#floating_button').children('img').attr('src', "${static.url('images/graduateicon.png')}");
            floating_button.css('display','block');
          } else {
            $('#floating_button').removeClass('pass');
            $('#floating_button').attr('title', 'Ask a question');
            $('#floating_button').children('img').attr('src', "${static.url('images/discussionicon.png')}");
            floating_button.css('display','block'); 
          }
        }
      });
    } else {
      floating_button.css('display','none');
    }
  }

  // Add by chintan to get the tutor mark in the discussion
  callForAllUser = function(){
    % if not settings.FEATURES.get('TMA_TUTOR_FLAG'):
      return;
    % endif
    var course_id = "${course.id.to_deprecated_string()}";
    var discussion_block = $('*[data-block-type=discussion]');
    discussion_id = discussion_block.find($("div[class='discussion-module']")).attr('data-discussion-id');
    var forum_users = [];
    $('.username').each(function(){
      forum_users.push($(this).text());
    });

    $.get({    
      url: "/tutor_tag/"+course_id+"/"+discussion_id + "/",
      data: {
        'users': JSON.stringify($.unique(forum_users))
      },
      success: function(data) {
        data = data['data']
        var tag = '<span class="user-label-staff tutor">TUTOR</span>'
        $(".tutor").remove();
        for (index=0; index < data.length; index++) {
          var passed = data[index]['passed'];
          if(passed == true){
            var uName = data[index]['username'];
            var authorTags = $(".username:contains('"+uName+"')");
            authorTags.each(function(index){
                if($(this).parent().parent().hasClass('discussion-comment')){
                    $(this).next('span.box').after(tag);
                } else {
                    $(this).after(tag);
                }
            });
          }
        }       
      }
    });
  }
  // End of Tutor Mark

  // calculating li padding and span length in #sequencelist
  sequenceListCalculation = function(numberOfChild,sequenceList){
      sequenceListWidth = sequenceList.width();
      toBeSequenceListWidth = sequenceListWidth - 36;
      random = toBeSequenceListWidth/ (sequenceList[0].children.length -1);
      spanWidth = random -36;
      liPadding = spanWidth - 18;
      return {'liPadding':liPadding,'spanWidth':spanWidth}
  }
  //End

  $(document).ready(function(){
    mPrepareTrackAjax();
    getCompletionStatus();
    floatingButton();
    setVisitStatusOfUnits();
    $("span.button-previous img").attr('src', "${static.url('images/nav/previous-button.png')}");
    $("span.button-next img").attr('src', "${static.url('images/nav/next-button.png')}");

    sequenceList = $('#sequence-list');
    numberOfChild = sequenceList[0].children.length
    calculations = sequenceListCalculation(numberOfChild,sequenceList)
    
    $('.b4').css('width',calculations['spanWidth']);
    $('#sequence-list li').css('padding-left',calculations['liPadding']);
  });
  
  $(document).ajaxSuccess(function(event, xhr, settings){
    if( settings.url.endsWith('goto_position') ) {
      mPrepareTrackAjax();
      floatingButton();
    } else {
        var seen_video = settings.url.endsWith('save_user_state');
        var attended_problem = settings.url.endsWith('problem_check');
        var seen_hint = settings.url.endsWith('hint_button');
        var graded_lti_v2 = settings.url.endsWith('lti_2_0_result_rest_handler');
        var got_grade = settings.url.endsWith('grade_handler');
        var rendered_grade = settings.url.endsWith('render_grade');
        var seen_html = settings.url.endsWith('track_html_component');
        if (seen_video || attended_problem || seen_hint || graded_lti_v2 || got_grade || rendered_grade || seen_html) {
          getCompletionStatus();
        }
    }
    if (settings.url.endsWith('problem_check')){
      floatingButton();
      callForAllUser();
    }
    var resp_limit = settings.url.endsWith('resp_limit=25')
    var reply = settings.url.endsWith('reply?ajax=1')
    var inline = settings.url.endsWith('inline?page=1&ajax=1')
    var create = settings.url.endsWith('create?ajax=1')
    if ( resp_limit || reply || inline || create ) {
      callForAllUser();
    }

  });

</script>
