  <%!
  import json
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.js_utils import dump_js_escaped_json
%>
<%inherit file="../main.html" />
<%
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
%>

<%namespace name='static' file='../static_content.html'/>
<% style_overrides_file = static.get_value('css_overrides_file') %>
% if course_discovery_enabled:
<%block name="header_extras">
  <link rel="stylesheet" type="text/css" href="${static.url('css/jquery.rateyo.css')}" />
  % for template_name in ["course_card", "filter_bar", "filter", "facet", "facet_option"]:
  <script type="text/template" id="${template_name}-tpl">
      <%static:include path="discovery/${template_name}.underscore" />
  </script>
  % endfor
  <%static:require_module module_name="js/discovery/discovery_factory" class_name="DiscoveryFactory">
    DiscoveryFactory(
      ${course_discovery_meanings | n, dump_js_escaped_json},
      getParameterByName('search_query')
    );
  </%static:require_module>
</%block>
% endif
<%
#import SSO test
import json
import requests
import hashlib
import datetime

now = datetime.datetime.now()

date = now.strftime("%d%m%Y")

api = 'xGXMdnyltTAHZMSHPZHg'
partenaire = 'CgFVrWdhuSVccijkVVwF'
email = 'amundi3.admin@vodeclic.com'
id_membre = 'amundi3.admin'
day = '08'
month = '09'
year = '2016'

crypt = hashlib.sha256(id_membre+api).hexdigest()

d = hashlib.sha256(date+api).hexdigest()

url = 'https://lms.vodeclic.com/api/sso?'

data_fr = 'partenaire='+partenaire+'&encrypted_id='+crypt+'&id='+id_membre+'&email='+email+'&d='+d+''

href_sso = url+data_fr
#fin import SSo
%>
<!-- GEOFFREY -->
<script>
var href_sso =' ${href_sso}';
var showMore = '${_("SHOW MORE")}'
var VodeclicClass = '';
var liensA = '';
var linkForm = '';
var idForm = '';
//var block_envoie = '';
</script>
<!-- GEOFFREY -->
<%block name="pagetitle">${_("Courses")}</%block>
<!--
<LINK href="/static/css/courses.css" rel="stylesheet" type="text/css">
-->
<%block name="headextra">
  <link rel="stylesheet" type="text/css" href="${static.url('css/courses.css')}">
</%block>
  <script>
    function suppressBlueLink() {
      var largeurPage = $(document).width();
      if(parseInt(largeurPage) <= 486) {
        $('.learn-more').hide();
      }else{
        $('.learn-more').show();
      }
    }
    $(document).ready(function(){
      suppressBlueLink();
    })
    $(window).resize(function(){
      suppressBlueLink();
    })
  </script>
  <style>
    .courses-up-bis {
      text-transform: uppercase;
    }
    .find-courses .wrapper-search-context .wrapper-search-input:last-child {
      display: none;
    }
    .find-courses .courses-container .courses.no-course-discovery, .university-profile .courses-container .courses.no-course-discovery {
      width: 100%;
    }
    #table_search {
      top: -39px;
    }
    #sort_by,#sort_by:hover,#sort_by:focus {
      border: none;
      border-radius: 0px;
      padding: 0;
      margin: 0;
      background-color: transparent;
      box-shadow: none;
      text-shadow: none;
      background-image: none;
      color: #fff;
      height: 100%;
      line-height: 100%;
      vertical-align: middle;
      display:block;
      float:right;
      font-size: 18px;
      font-family: 'helveticaneue-medium';
      text-transform: none;
      margin-right: 20px;
    }
    .picto_down_arrow::after {
      content:"\25BC";
      color: #fff;
    }
    .picto_up_arrow::after {
      content:"\25B2";
      color: #fff;
    }
    #table_search{
      display:none;
    }
    .find-courses .wrapper-search-context .wrapper-search-input {
      display: none;
    }
    @media(max-width:415px) {
      .courses-up-bis {
        height: 40px;
        line-height: 30px;
        text-align: center;
        font-weight: normal;
      }
    }
  </style>
  <script>
  function eraseButton() {
    if(parseInt($(document).width()) <= 425) {
      $('#sort_by').text('');
    }else{
      $('#sort_by').text('${_("sort by")}');
    }
  }
  /* function We couldn't find any results */
  /*
  $(document).on('DOMNodeInserted', function(e) {
    text = $('#discovery-message').text();
    if( text.indexOf('We couldn\'t find any results') != -1 || text.indexOf('Nous ne trouvons pas de résultat pour') != -1 ) {
      $('.courses-container').html('');
      var width = parseInt($('#footer-openedx').width());
      $('#footer-openedx').css('position','fixed');
      $('#footer-openedx').css('bottom','0');
      $('#footer-openedx').css('left','50%');
      $('#footer-openedx').css('margin-left','-'+(width / 2)+'px');
    }
  })
  */
  $(document).ready(function(){
    eraseButton();
    $('#sort_by').click(function(){
      $('#table_search').toggle();
      if($(this).hasClass('picto_down_arrow')){
        $(this).removeClass('picto_down_arrow');
        $(this).addClass('picto_up_arrow');
      }else{
        $(this).removeClass('picto_up_arrow');
        $(this).addClass('picto_down_arrow');
      }
    })
  })
  $(document).resize(function(){
    eraseButton();
  })
  </script>
<section class="find-courses">
<div class="courses-all">
<div class="courses-up">
    <a href="">${_('Home')}</a> &gt; <a href="">${_('Courses Catalogue')}</a> &gt; <a href="">${_('All Courses')}</a>
</div>
<div class="courses-up-bis">
${_('All courses')}
</div>
% if course_discovery_enabled:
<div id="discovery-form" role="search" aria-label="course" class="wrapper-search-context">
  <div id="discovery-message" class="search-status-label courses-down-up"></div>
  <form class="wrapper-search-input nav-courseware-01">
    <input id="discovery-input" class="discovery-input" placeholder="${_('Search for a course')}" type="text"/>
    <button type="submit" class="button postfix discovery-submit" aria-label="${_('Search')}">
      <div aria-live="polite" aria-relevant="all">
        <div id="loading-indicator" class="loading-spinner hidden">
          <i class="icon fa fa-spinner fa-spin"></i>
          <span class="sr">${_('Loading')}</span>
        </div>
      </div>
    </button>
  </form>
  <button id="sort_by" class="picto_down_arrow">${_("sort by")}</button>
</div>
% endif
</div>
  <section class="courses-container" style="padding-top: 0;">
    % if course_discovery_enabled:
    <aside aria-label="${_('Refine Your Search')}" class="search-facets phone-menu" id="table_search">
      <h2 class="header-search-facets">${_('More courses')}</h2>
      <section class="search-facets-lists">
      </section>
    </aside>
    % endif
    <div class="courses no-course-discovery" role="region" aria-label="${_('List of Courses')}">
    <link rel="stylesheet" type="text/css" href="/static/themes/phileastheming/css/course.css">
    <style>
      .Vodeclic img{
        width: 187.5px;
        height: 187.5px;
        width: 150px;
        height: 150px;
        background: linear-gradient(transparent 2px, rgba(105,105,105,0.2) 2px);
        background-size: 1px 3px;
        padding-top:18.75px;
        padding-bottom:18.75px;
        padding-left:75px;
        padding-right:75px;
      }
      input[type="submit"],input[type="submit"]:hover:not(:disabled),input[type="submit"]:focus:not(:disabled) {
      background-image: none;
      padding: 0;
      text-shadow: none;
      border: none;
      border-radius: 0px;
      background-color:rgb(0, 157, 224);
      bottom: 0px;
      color: rgb(255, 255, 255);
      cursor: pointer;
      display: block;
      font-family: 'helveticaneue-bold';
      font-size: 14px;
      font-stretch: normal;
      font-style: normal;
      font-variant-caps: normal;
      font-variant-ligatures: normal;
      font-variant-numeric: normal;
      font-weight: normal;
      height: 59px;
      line-height: 59px;
      list-style-image: none;
      list-style-position: outside;
      list-style-type: none;
      margin-top: 40px;
      position: relative;
      text-align: center;
      text-decoration: none;
      text-indent: 0px;
      transition-delay: 0s;
      transition-duration: 0.1s;
      transition-property: all;
      transition-timing-function: linear;
      vertical-align: middle;
      width: 100%;
      z-index: 10;
      }
      .submit button,.submit button:hover,.submit button:focus {
        background-image: none;
        border: none;
        border-radius: none;
        background-color: transparent;
        padding: 0px;
        margin: none;
      }
      .course-name {
        text-align: center;
        color: #555d68;
        font-size: 24px;
        font-family: 'helveticaneue-bold';
        width: 100%;
        margin-top: -20px;
    }
    .courses-container .courses .course .course-info h2 {
        font-family: 'helveticaneue-bold';
        text-transform: none;
    }
    .course-ratings {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
    }
    @media (max-width: 1440px){
      .course-images, .course-image {
          height: 20vh;
      }
      .cover-images {
          width: 100%;
          margin-left: 0px;
          margin-right: 0px;
          top: -70px;
          height: auto;
      }
      .find-courses .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item, .university-profile .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item, .home .courses-container .courses .courses-listing .courses-listing-item {
        margin-left: 1.5vw;
        margin-right: 1.5vw;
      }
    }
    /*
    @media(max-width: 1280px) {
      .find-courses .courses-container .courses.no-course-discovery {
        width: 94vw;
        padding-left: 3vw;
        padding-right: 3vw;
      }
    }
    */
    @media(max-width:996px) {
      .Vodeclic img {
        padding-left: calc((100% - 150px)/2);
        padding-right: calc((100% - 150px)/2);
      }
    }
    @media(max-width: 768px) {
      /* nav */
      .nav-courseware-01 input[type="text"] {
        margin-top: 0;
      }
      /* end nav */
      .courses-container .courses .course {
        height: auto;
      }
      .courses-container .courses .course .course-info {
      margin-top: 50px;
      margin-bottom: 60px;
      height: auto;
      }
      .course-images, .course-image {
        height: 10vh;
      }
      .find-courses .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item:nth-child(2n), .university-profile .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item:nth-child(2n) {
        margin-right: 1.5vw;
      }
      .find-courses .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item:nth-child(2n+1), .university-profile .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item:nth-child(2n+1) {
        height: auto;
      }
      .find-courses .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item, .university-profile .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item {
        height: auto;
      }
      .courses-container .courses .courses-listing {
        height: auto;
      }
      input[type="submit"],input[type="submit"]:hover:not(:disabled),input[type="submit"]:focus:not(:disabled) {
        margin-top: 0px;
      }
      .cover-images {
          width: 100%;
          margin-left: 0px;
          margin-right: 0px;
          height: auto;
      }
    }
    @media(max-width: 697px) {
      .find-courses .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item {
        width: 46%;
        margin-left: 2%;
        margin-right: 2%;
      }
      .find-courses .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item:nth-child(2n), .university-profile .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item:nth-child(2n) {
        margin-bottom: 90px;
      }
      .find-courses .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item:nth-child(2n+1), .university-profile .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item:nth-child(2n+1) {
        margin-bottom: 90px;
      }
      .cover-images {
        top: -90px;
      }
    }
    @media(max-width: 486px) {
      .cover-images img {
        margin: 0;
        width: 100%;
      }
      .cover-images {
        top: -90px;
      }
      .Vodeclic img {
        width: 150px;
        height: 150px;
        background-color: #fff;
        padding-top: 18.75px;
        padding-bottom: 18.75px;
      }
      .courses-container .courses .course {
        height: auto;
      }
      .courses-container .courses .course .course-info {
      margin-top: 50px;
      height: auto;
      }
      .find-courses .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item:nth-child(2n+1), .university-profile .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item:nth-child(2n+1) {
        height: auto;
      }
      .find-courses .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item, .university-profile .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item {
        height: auto;
      }
      .courses-container .courses .courses-listing {
        height: auto;
      }
    }
    @media(max-width: 429px) {
      .find-courses .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item:nth-child(2n), .university-profile .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item:nth-child(2n) {
        margin-bottom: 80px;
      }
      .find-courses .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item:nth-child(2n+1), .university-profile .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item:nth-child(2n+1) {
        margin-bottom: 80px;
      }

      .find-courses .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
      }
    }
    @media(max-width: 350px) {
      .cover-images {
        top: -110px;
      }
      .find-courses .courses-container, .university-profile .courses-container {
        margin-top: 60px;
      }
    }
    #messages_none {
      display: none;
      width: 100%;
      height: auto;
      margin-top: 100px;
      text-align: center;
      vertical-align: middle;
      color: #8A4185;
      font-size: 30px;
      font-family: 'gothamrounded-medium';
    }
    #messages_none a,#messages_none a:hover,#messages_none a:visited {
      color:#363F4E;
    }
    @media(max-width: 768px) {
      #messages_none {
        display: none;
        width: 100%;
        height: auto;
        margin-top: 0;
        text-align: center;
        vertical-align: middle;
        color: #8A4185;
        font-size: 20px;
        font-family: 'gothamrounded-medium';
      }
    }
    .courses {
      position: relative;
    }
    </style>
    <div id="messages_none">
        ${_("No results. Please rephrase your request Or browse the")} <a href="/courses">${_("Courses Catalogue.")}</a>
    </div>
      <ul class="courses-listing">
        %for course in courses:

        <li class="courses-listing-item courses-li">
          <%include file="../course.html" args="course=course" />
        </li>
        %endfor
      </ul>
    </div>

  </section>
</section>
+<script src="${static.url('js/jquery.rateyo.js')}"></script>
<script>

function TailleImage(){
  $('.course-image').each(function(){
    var This = $(this).children().children('img');
    Taille = $(this)
    var Src = $(this).children().children('img').attr('src');
    var img = new Image();
    var tailleWidth = $(this).width();
    var tailleHeight = $(this).height();

    img.src = Src;
    var imgWidth = img.width;
    var imgHeight = img.height;
    var Org = Taille.data('org');
    if(imgWidth < tailleWidth && imgHeight < tailleHeight && Org == 'Vodeclic')
    {
      marginTop = (tailleHeight - imgHeight)/2;
      marginLeft = (tailleWidth - imgWidth)/2;
      This.css('width',imgWidth+'px');
      This.css('height',imgHeight+'px');
      This.css('padding-top',marginTop+'px');
      This.css('padding-bottom',marginTop+'px');
      This.css('padding-left',marginLeft+'px');
      This.css('padding-right',marginLeft+'px');
      This.css('background-color','#fff');
      Taille.css('background-color','#fff');
    }
  })
}
function vodeclicCall() {
  var url = window.location.href;
  if(url.indexOf('Vodeclic') != -1) {
    $('body').hide();
    var source = '';
    var boucle = setInterval(function(){
      source = $('#discovery-message').text();
      if(source != ''){
        clearInterval(boucle);
      $('.discovery-button').each(function(){
        if($(this).data('value') == 'Vodeclic'){
          $(this).trigger('click');
          $('body').show();
        }
      })
    $(document).show();
    }
    },500);
  }
}

$(document).ready(function(){
  TailleImage();
  vodeclicCall();
})
$(window).resize(function(){
  TailleImage();
})
</script>
<script>
var balance = 'boom';
$(document).ready(function(){
  $('.search-facets-lists').find('button').each(function(){
    if($(this).data('value') == 'Vodeclic') {
      $(this).click();
    }
  })
})
</script>
% if settings.FEATURES.get('TMA_ENABLE_COURSE_RATING'):
  <script src="${static.url('js/jquery.rateyo.js')}"></script>
  <script>
  /*
    $(document).on('DOMNodeInserted', function(e) {
      $("article").each(function(){
        var course_id = $(this).data("id");
        var rateSelector = $(this).find(".course-ratings")
        $.get({
          url: "/course_ratings_handler/" + course_id + "/",
          success: function(data) {
            var nAvgRate = data['avg_ratings'];
            var nReviews = data['total_reviews'];
            var nCanRate = data['can_rate'];
            lblReviews = 'Review';
            if(nReviews > 1) {
              lblReviews += "s"
            }
            // $("#total-reviews").text(String(nReviews)+" "+lblReviews);
            // $("#avg-rating-number").text(String(nAvgRate)+"/5");
            rateSelector.rateYo({
              rating: nAvgRate,
              halfStar: true,
              starWidth: "25px",
              readOnly: !nCanRate,
              onSet: function (rating, rateYoInstance) {
                $.post({
                  url: "/course_ratings_handler/" + course_id + "/",
                  data: {
                    'stars': rating,
                  },
                  success: function(data) {
                    nAvgRate = data['avg_ratings'];
                    nReviews = data['total_reviews'];
                    lblReviews = 'Review';
                    if(nReviews > 1) {
                      lblReviews += "s"
                    }
                    // $("#total-reviews").text(String(nReviews)+" "+lblReviews);
                    // $("#avg-rating-number").text(String(nAvgRate)+"/5");
                    rateSelector.rateYo("option", "readOnly", true);
                  }
                }); // POST
              }
            });  // RATEYO
          }
        }); // GET
      });  // EACH
    });
    */

    $(document).on('DOMNodeInserted', function(e) {
      if ($(e.target).find('article').data('id') != undefined) {
          var course_id = $(e.target).find('article').data('id');
          //var rateSelector = $(e.target).find(".course-ratings");
          $.get({
            url: "/course_ratings_handler/" + course_id + "/",
            success: function(data) {
              var nAvgRate = data['avg_ratings'];
              var nReviews = data['total_reviews'];
              var nCanRate = data['can_rate'];
              $(e.target).find('article').attr('data-canrate',data['test']);
              lblReviews = 'Review';
              if(nReviews > 1) {
                lblReviews += "s"
              }
              // $("#total-reviews").text(String(nReviews)+" "+lblReviews);
              // $("#avg-rating-number").text(String(nAvgRate)+"/5");
              $(e.target).find('article').each(function(){
                var rateSelector = $(this).find(".course-ratings");
                rateSelector.rateYo({
                  rating: nAvgRate,
                  halfStar: true,
                  starWidth: "25px",
                  readOnly: $(this).data('canrate'),
                  onSet: function (rating, rateYoInstance) {
                    $.post({
                      url: "/course_ratings_handler/" + course_id + "/",
                      data: {
                        'stars': rating,
                      },
                      success: function(data) {
                        nAvgRate = data['avg_ratings'];
                        nReviews = data['total_reviews'];
                        lblReviews = 'Review';
                        if(nReviews > 1) {
                          lblReviews += "s"
                        }
                        // $("#total-reviews").text(String(nReviews)+" "+lblReviews);
                        // $("#avg-rating-number").text(String(nAvgRate)+"/5");
                        rateSelector.rateYo("option", "readOnly", true);
                      }
                    }); // POST
                  }
                });  // RATEYO
              })
            }
          }); // GET
      }
      if($('#discovery-message').text().indexOf('We couldn\'t find any results for') != -1 || $('#discovery-message').text().indexOf('Nous ne trouvons pas de résultat pour') != -1) {
        $('.courses-listing').hide();
        $('#messages_none').show();
        //$('.wrapper-footer').css('position','fixed');
        //$('.wrapper-footer').css('bottom','0');
        //  $('.wrapper-footer').css('width','100vw');

      }
    });
  </script>
% endif
