## mako
<%page args="active_page=None" expression_filter="h" />
<%namespace name='static' file='/static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from courseware.tabs import get_course_tab_list
from django.core.urlresolvers import reverse
from django.conf import settings
from openedx.core.djangoapps.course_groups.partition_scheme import get_cohorted_user_partition
from openedx.core.djangolib.js_utils import dump_js_escaped_json
from openedx.core.djangolib.markup import HTML, Text
from student.models import CourseEnrollment
%>

<%
if active_page is None and active_page_context is not UNDEFINED:
  # If active_page is not passed in as an argument, it may be in the context as active_page_context
  active_page = active_page_context

def selected(is_selected):
  return "selected" if is_selected else ""

show_preview_menu = not disable_preview_menu and staff_access and active_page in ["courseware", "info"]
cohorted_user_partition = get_cohorted_user_partition(course)
masquerade_user_name = masquerade.user_name if masquerade else None
masquerade_group_id = masquerade.group_id if masquerade else None
staff_selected = selected(not masquerade or masquerade.role != "student")
specific_student_selected = selected(not staff_selected and masquerade.user_name)
student_selected = selected(not staff_selected and not specific_student_selected and not masquerade_group_id)
include_special_exams = settings.FEATURES.get('ENABLE_SPECIAL_EXAMS', False) and (course.enable_proctored_exams or course.enable_timed_exams)
%>
<style>
.btn-neutral,.btn-neutral:hover {
  border-style: none;
  font-size: 18px;
  font-family: 'helveticaneue-light';
  border: none;
  background-color: #fff;
  color: #0079bc;
}
.wrapper-course-material .course-material, .wrapper-preview-menu .preview-menu {
  width: 1440px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 77px;
}
.sur_menu_courseware {
  position: absolute;
  bottom: -36px;
  left: 108px;
  width: 1332px;
  background-color: #fff;
}
.course-tabs{
  text-align: right;
  background-color: #fff;
  margin: 0 auto;
  max-width: 1180px;
  margin-left: 22px;
  margin-right: 130px;
  width: 100%;
  line-height: 30px;
  min-height: 42px;
  max-height: 126px;
  vertical-align: middle;
}
.baniere_courseware {
  width: 1440px;
  height: 350px;
  font-size: 50px;
  font-family: 'gothamrounded-bold';
  text-transform: uppercase;
  line-height: 350px;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  background-color: grey;
  background-image: url('/static/themes/phileastheming/images/img_index_desktop.png');
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.baniere_courseware p {
  color: #fff;
  display:inline;
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-family: 'gothamrounded-bold';
  text-transform: uppercase;
}
@media(max-width:1440px) {
  .baniere_courseware,.wrapper-course-material .course-material, .wrapper-preview-menu .preview-menu  {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .sur_menu_courseware {
    width: 92.5%;
    margin-left: 7.5%;
    left: 0;
    right: 0;
  }
  .course-tabs {
    margin-left: 0px;
  }
}
@media(max-width:860px) {
  .sur_menu_courseware {
    width: 100%;
    margin-left: 0;
    left: 0;
    right: 0;
    bottom:-72px;
    text-align: center;
  }
  .course-tabs {
    text-align: center;
  }
}
@media(max-width:817px) {
  .baniere_courseware {
    line-height: 175px;
  }
}
@media(max-width: 775px) {
  .baniere_courseware {
    font-size: 30px;
  }
}
@media(max-width:586px) {
  .baniere_courseware {
    line-height: 87.5px;
  }
}
@media(max-width:500px) {
  .baniere_courseware p{
    font-size: 40px;
  }
}
@media(max-width:361px) {
  .baniere_courseware p{
    font-size: 35px;
  }
}
@media(max-width:325px) {
  .baniere_courseware p{
    font-size: 30px;
  }
}
</style>
% if include_special_exams:
    <%static:js group='proctoring'/>
    % for template_name in ["proctored-exam-status"]:
        <script type="text/template" id="${template_name}-tpl">
            <%static:include path="courseware/${template_name}.underscore" />
        </script>
    % endfor
    <div class="proctored_exam_status"></div>
% endif
% if show_preview_menu:
    <nav class="wrapper-preview-menu" aria-label="${_('Course View')}">
        <div class="preview-menu">
            <ol class="preview-actions">
                <li class="action-preview">
                    <form action="#" class="action-preview-form" method="post">
                        <label for="action-preview-select" class="action-preview-label">${_("View this course as:")}</label>
                        <select class="action-preview-select" id="action-preview-select" name="select">
                            <option value="staff" ${staff_selected}>${_("Staff")}</option>
                            <option value="student" ${student_selected}>${_("Student")}</option>
                            <option value="specific student" ${specific_student_selected}>${_("Specific student")}</option>
                            % if cohorted_user_partition:
                                % for group in sorted(cohorted_user_partition.groups, key=lambda group: group.name):
                                <option value="group.id" data-group-id="${group.id}" ${selected(masquerade_group_id == group.id)}>
                                    ${_("Student in {content_group}").format(content_group=group.name)}
                                </option>
                                % endfor
                            % endif
                        </select>
                        <div class="action-preview-username-container">
                          <label for="action-preview-username" class="action-preview-label">${_("Username or email:")}</label>
                          <input type="text" class="action-preview-username" id="action-preview-username">
                        </div>
                        <button type="submit" class="sr" name="submit" value="submit">${_("Set preview mode")}</button>
                    </form>
                </li>
          </div>
            % if specific_student_selected:
                <div class="preview-specific-student-notice">
                    <p>
                        ${Text(_("You are now viewing the course as {i_start}{user_name}{i_end}.")).format(
                            user_name=masquerade_user_name,
                            i_start=HTML(u'<i>'),
                            i_end=HTML(u'</i>'),
                        )}
                    </p>
                </div>
            % endif
        </div>
    </nav>
% endif

% if disable_tabs is UNDEFINED or not disable_tabs:
    <nav class="${active_page} wrapper-course-material" aria-label="${_('Course Material')}">
        <div class="course-material">
          <div class="baniere_courseware">
            <p id="titre_baniere_courseware">${course.display_name_with_default}</p>
            <%
            tab_list = get_course_tab_list(request, course)
            tabs_tmpl = static.get_template_path('/courseware/tabs.html')
            %>
            <div class="sur_menu_courseware">
            <ol class="tabs course-tabs">
                <%include file="${tabs_tmpl}" args="tab_list=tab_list,active_page=active_page,default_tab=default_tab,tab_image=tab_image" />
                <%block name="extratabs" />
            </ol>
            </div>
          </div>
        </div>
    </nav>
%endif

% if show_preview_menu:
    <%
    preview_options = {
        "courseId": course.id,
        "disableStudentAccess": disable_student_access if disable_student_access is not UNDEFINED else False,
        "specificStudentSelected": specific_student_selected,
        "cohortedUserPartitionId": cohorted_user_partition.id if cohorted_user_partition else None,
        "masqueradeUsername" : masquerade_user_name if masquerade_user_name is not UNDEFINED else None,
    }
    %>
    <%static:require_module_async module_name="lms/js/preview/preview_factory" class_name="PreviewFactory">
        PreviewFactory(${preview_options | n, dump_js_escaped_json});
    </%static:require_module_async>
% endif
<script>
  function bottomOl() {
    var heightOl = $('.course-tabs').height();
    if($(document).width() > 860) {
      if(heightOl == 43) {
        $('.sur_menu_courseware').css('bottom','-36px');
      }else if(heightOl == 97) {
        $('.sur_menu_courseware').css('bottom','-63px');
      }else if(heightOl == 126) {
        $('.sur_menu_courseware').css('bottom','-82px');
      }
    }else{
        $('.sur_menu_courseware').css('bottom','-72px');
    }

  }
  $(document).ready(function(){
    bottomOl();
  })
  $(window).resize(function(){
    bottomOl();
  })
</script>
