  <%!
  import json
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.js_utils import dump_js_escaped_json
%>
<%inherit file="../main.html" />
<%
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
%>

<%namespace name='static' file='../static_content.html'/>
<% style_overrides_file = static.get_value('css_overrides_file') %>
% if course_discovery_enabled:
<%block name="header_extras">
  <link rel="stylesheet" type="text/css" href="${static.url('css/jquery.rateyo.css')}" />
  % for template_name in ["course_card", "filter_bar", "filter", "facet", "facet_option"]:
  <script type="text/template" id="${template_name}-tpl">
      <%static:include path="discovery/${template_name}.underscore" />
  </script>
  % endfor
  <%static:require_module module_name="js/discovery/discovery_factory" class_name="DiscoveryFactory">
    DiscoveryFactory(
      ${course_discovery_meanings | n, dump_js_escaped_json},
      getParameterByName('search_query')
    );
  </%static:require_module>
</%block>
% endif
<%
#import SSO test
import json
import requests
import hashlib
import datetime

now = datetime.datetime.now()

date = now.strftime("%d%m%Y")

api = 'xGXMdnyltTAHZMSHPZHg'
partenaire = 'CgFVrWdhuSVccijkVVwF'
email = 'amundi3.admin@vodeclic.com'
id_membre = 'amundi3.admin'
day = '08'
month = '09'
year = '2016'

crypt = hashlib.sha256(id_membre+api).hexdigest()

d = hashlib.sha256(date+api).hexdigest()

url = 'https://lms.vodeclic.com/api/sso?'

data_fr = 'partenaire='+partenaire+'&encrypted_id='+crypt+'&id='+id_membre+'&email='+email+'&d='+d+''

href_sso = url+data_fr
#fin import SSo
%>
<!-- GEOFFREY -->
<script>
var href_sso =' ${href_sso}';
var showMore = '${_("SHOW MORE")}'
var VodeclicClass = '';
var liensA = '';
var linkForm = '';
var idForm = '';
//var block_envoie = '';
</script>
<!-- GEOFFREY -->
<%block name="pagetitle">${_("Courses")}</%block>
<!--
<LINK href="/static/css/courses.css" rel="stylesheet" type="text/css">
-->
<%block name="headextra">
  <link rel="stylesheet" type="text/css" href="${static.url('css/courses.css')}">
</%block>
  <script>
    function suppressBlueLink() {
      var largeurPage = $(document).width();
      if(parseInt(largeurPage) <= 486) {
        $('.learn-more').hide();
      }else{
        $('.learn-more').show();
      }
    }
    $(document).ready(function(){
      suppressBlueLink();
    })
    $(window).resize(function(){
      suppressBlueLink();
    })
  </script>
  <style>
    .courses-up-bis {
      text-transform: uppercase;
    }
    .find-courses .wrapper-search-context .wrapper-search-input:last-child {
      display: none;
    }
    .find-courses .courses-container .courses.no-course-discovery, .university-profile .courses-container .courses.no-course-discovery {
      width: 100%;
    }
    #table_search {
      top: -39px;
    }
    #sort_by,#sort_by:hover,#sort_by:focus {
      border: none;
      border-radius: 0px;
      padding: 0;
      margin: 0;
      background-color: transparent;
      box-shadow: none;
      text-shadow: none;
      background-image: none;
      color: #fff;
      height: 100%;
      line-height: 100%;
      vertical-align: middle;
      display:block;
      float:right;
      font-size: 18px;
      font-family: 'helveticaneue-medium';
      text-transform: none;
      margin-right: 20px;
    }
    .picto_down_arrow::after {
      content:"\25BC";
      color: #fff;
    }
    .picto_up_arrow::after {
      content:"\25B2";
      color: #fff;
    }
    #table_search{
      display:none;
    }
    .find-courses .wrapper-search-context .wrapper-search-input {
      display: none;
    }
    @media(max-width:415px) {
      .courses-up-bis {
        height: 40px;
        line-height: 30px;
        text-align: center;
        font-weight: normal;
      }
    }
  </style>
  <script>
  function eraseButton() {
    if(parseInt($(document).width()) <= 425) {
      $('#sort_by').text('');
    }else{
      $('#sort_by').text('${_("sort by")}');
    }
  }
  $(document).ready(function(){
    eraseButton();
    $('#sort_by').click(function(){
      $('#table_search').toggle();
      if($(this).hasClass('picto_down_arrow')){
        $(this).removeClass('picto_down_arrow');
        $(this).addClass('picto_up_arrow');
      }else{
        $(this).removeClass('picto_up_arrow');
        $(this).addClass('picto_down_arrow');
      }
    })
  })
  $(document).resize(function(){
    eraseButton();
  })
  </script>
<section class="find-courses">
<div class="courses-all">
<div class="courses-up">
    <a href="">${_('Home')}</a> &gt; <a href="">${_('Courses Catalogue')}</a> &gt; <a href="">${_('All Courses')}</a>
</div>
<div class="courses-up-bis">
${_('All courses')}
</div>
% if course_discovery_enabled:
<div id="discovery-form" role="search" aria-label="course" class="wrapper-search-context">
  <div id="discovery-message" class="search-status-label courses-down-up"></div>
  <form class="wrapper-search-input nav-courseware-01">
    <input id="discovery-input" class="discovery-input" placeholder="${_('Search for a course')}" type="text"/>
    <button type="submit" class="button postfix discovery-submit" aria-label="${_('Search')}">
      <div aria-live="polite" aria-relevant="all">
        <div id="loading-indicator" class="loading-spinner hidden">
          <i class="icon fa fa-spinner fa-spin"></i>
          <span class="sr">${_('Loading')}</span>
        </div>
      </div>
    </button>
  </form>
  <button id="sort_by" class="picto_down_arrow">${_("sort by")}</button>
</div>
% endif
</div>
  <section class="courses-container" style="padding-top: 0;">
    % if course_discovery_enabled:
    <aside aria-label="${_('Refine Your Search')}" class="search-facets phone-menu" id="table_search">
      <h2 class="header-search-facets">${_('More courses')}</h2>
      <section class="search-facets-lists">
      </section>
    </aside>
    % endif
    <div class="courses no-course-discovery" role="region" aria-label="${_('List of Courses')}" style="
      border-bottom: none;
      width:100%;
    ">
    <link rel="stylesheet" type="text/css" href="/static/themes/phileastheming/css/course.css">
    <style>
      .Vodeclic img{
        width: 187.5px;
        height: 187.5px;
        background-color: #fff;
        margin-left: auto;
        margin-right: auto;
      }
      input[type="submit"],input[type="submit"]:hover:not(:disabled),input[type="submit"]:focus:not(:disabled) {
      background-image: none;
      padding: 0;
      text-shadow: none;
      border: none;
      border-radius: 0px;
      background-color:rgb(0, 157, 224);
      bottom: 0px;
      color: rgb(255, 255, 255);
      cursor: pointer;
      display: block;
      font-family: 'helveticaneue-bold';
      font-size: 14px;
      font-stretch: normal;
      font-style: normal;
      font-variant-caps: normal;
      font-variant-ligatures: normal;
      font-variant-numeric: normal;
      font-weight: normal;
      height: 59px;
      line-height: 59px;
      list-style-image: none;
      list-style-position: outside;
      list-style-type: none;
      margin-top: 40px;
      position: relative;
      text-align: center;
      text-decoration: none;
      text-indent: 0px;
      transition-delay: 0s;
      transition-duration: 0.1s;
      transition-property: all;
      transition-timing-function: linear;
      vertical-align: middle;
      width: 100%;
      z-index: 10;
      }
      .submit button,.submit button:hover,.submit button:focus {
        background-image: none;
        border: none;
        border-radius: none;
        background-color: transparent;
        padding: 0px;
        margin: none;
      }
      .course-name {
        text-align: center;
        color: #555d68;
        font-size: 24px;
        font-family: 'helveticaneue-bold';
        width: 100%;
        margin-top: -20px;
    }
    .courses-container .courses .course .course-info h2 {
        font-family: 'helveticaneue-bold';
        text-transform: none;
    }
    @media (max-width: 1440px){
      .course-images, .course-image {
          height: 20vh;
      }
      .cover-images {
          width: 100%;
          margin-left: 0px;
          margin-right: 0px;
      }
    }
    @media(max-width: 697px) {
      .find-courses .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item {
        width: 46%;
        margin-left: 2%;
        margin-right: 2%;
      }
    }
    @media(max-width: 486px) {
      .cover-images img {
        margin: 0;
        width: 100%;
      }
      .Vodeclic img {
          width: 187.5px;
          height: 187.5px;
          background-color: #fff;
          margin-left: auto;
          margin-right: auto;
      }
      .courses-container .courses .course .course-info {
      margin-top: 50px;
      }
    }
    @media(max-width: 429px) {
    .find-courses .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
    }
    }
    @media(max-width: 415px) {
     .ClassForm {
     display: none;
     }
    }
    </style>
      <ul class="courses-listing">
        %for course in courses:

        <li class="courses-listing-item courses-li">
          <%include file="../course.html" args="course=course" />
        </li>
        %endfor
      </ul>
    </div>

  </section>
</section>
+<script src="${static.url('js/jquery.rateyo.js')}"></script>
<script>
function TailleImage(){
  $('.course-image').each(function(){
    var This = $(this).children().children('img');
    Taille = $(this)
    var Src = $(this).children().children('img').attr('src');
    var img = new Image();
    var tailleWidth = $(this).width();
    var tailleHeight = $(this).height();

    img.src = Src;
    var imgWidth = img.width;
    var imgHeight = img.height;
    var Org = Taille.data('org');
    console.log(Org);
    if(imgWidth < tailleWidth && imgHeight < tailleHeight && Org == 'Vodeclic')
    {
      marginTop = (tailleHeight - imgHeight)/2;
      marginLeft = (tailleWidth - imgWidth)/2;
      console.log(marginTop);
      This.css('width',imgWidth+'px');
      This.css('height',imgHeight+'px');
      This.css('padding-top',marginTop+'px');
      This.css('padding-bottom',marginTop+'px');
      This.css('padding-left',marginLeft+'px');
      This.css('padding-right',marginLeft+'px');
      This.css('background-color','#fff');
      Taille.css('background-color','#fff');
    }
  })
}
function vodeclicCall() {
  var url = window.location.href;
  if(url.indexOf('Vodeclic') != -1) {
    $('body').hide();
    var source = '';
    var boucle = setInterval(function(){
      console.log('nombre de cours : '+$('#discovery-message').text());
      source = $('#discovery-message').text();
      if(source != ''){
        clearInterval(boucle);
      $('.discovery-button').each(function(){
        if($(this).data('value') == 'Vodeclic'){
          $(this).trigger('click');
          $('body').show();
        }
      })
    $(document).show();
    }
    },500);
  }
}

$(document).ready(function(){
  TailleImage();
  vodeclicCall();
})
$(window).resize(function(){
  TailleImage();
})
var functionImage = function() {
  console.log('$(this)');
}
</script>
<script>
var balance = 'boom';
$(document).ready(function(){
  $('.search-facets-lists').find('button').each(function(){
    if($(this).data('value') == 'Vodeclic') {
      $(this).click();
    }
  })
})


function showCourseRatings(){
      $("li.courses-listing-item article").each(function(){
        var course_id = $(this).attr("id");
        var rateSelector = $(this).find(".course-ratings")
        $.get({
          url: "/course_ratings_handler/" + course_id + "/",
          success: function(data) {
            var nAvgRate = data['avg_ratings'];
            var nReviews = data['total_reviews'];
            var nCanRate = data['can_rate'];
            lblReviews = 'Review';
            if(nReviews > 1) {
              lblReviews += "s"
            }
            // $("#total-reviews").text(String(nReviews)+" "+lblReviews);
            // $("#avg-rating-number").text(String(nAvgRate)+"/5");
            rateSelector.rateYo({
              rating: nAvgRate,
              halfStar: true,
              starWidth: "25px",
              readOnly: !nCanRate,
              onSet: function (rating, rateYoInstance) {
                $.post({
                  url: "/course_ratings_handler/" + course_id + "/",
                  data: {
                    'stars': rating,
                  },
                  success: function(data) {
                    nAvgRate = data['avg_ratings'];
                    nReviews = data['total_reviews'];
                    lblReviews = 'Review';
                    if(nReviews > 1) {
                      lblReviews += "s"
                    }
                    // $("#total-reviews").text(String(nReviews)+" "+lblReviews);
                    // $("#avg-rating-number").text(String(nAvgRate)+"/5");
                    rateSelector.rateYo("option", "readOnly", true);
                  }
                }); // POST
              }
            });  // RATEYO
          }
        }); // GET
      });  // EACH
}
$(document).ajaxComplete(function(event, xhr, settings){
    if( settings.url.endsWith('course_discovery/') ) {
        results = xhr.responseJSON.results;
        var course_list = []
        for (var i =0; i<results.length;i++ )
        {
            if (results[i].data.manager_only == true)
            {
                course_list.push(results[i]._id);
            }
        }
      $.get({
        url: '/course_hide/',
        data: {'course_list':JSON.stringify(course_list)},
        success: function(data) {
            data_list = data['Hidden'].split("\"")
            hide_course_list = []
            for (var j=0; j< data_list.length; j++)
            {
                if (data_list[j].startsWith('course'))
                {
                    hide_course_list.push(data_list[j])
                }
            }
            for (var k =0; k<hide_course_list.length; k++){
                $("a[href*='"+hide_course_list[k]+"']").parent().parent().remove();
            }
            var discoveryMessage = $('#discovery-message').text();
            message_array = discoveryMessage.split(' ');
            courseNumber = parseInt(message_array[1]);
            displayCourseNumber = courseNumber - hide_course_list.length;
            if(displayCourseNumber){
              $('#discovery-message').text("Viewing "+displayCourseNumber+" courses");
            }
            % if settings.FEATURES.get('TMA_ENABLE_COURSE_RATING'):
            if (window.drawnRatings == undefined){
              showCourseRatings();
              window.drawnRatings = true;
            }
            % endif
        }
      });
    }
  });
</script>
