## mako

<%namespace name='static' file='/static_content.html'/>
<%!
 from django.utils.translation import ugettext as _
 from django.core.urlresolvers import reverse
 %>
<%page args="tab_list, active_page, default_tab, tab_image" expression_filter="h" />

<%
def url_class(is_active):
  if is_active:
    return "active"
  return ""
%>
<%
welcome_set = 'welcome'
course_set = 'courseware'
info_set = 'info'
forum_set = 'forum'
wiki_set = 'course_wiki'
progress_set = 'progress'
welcome_name = ''
course_name = ''
info_name = ''
forum_name = ''
wiki_name = ''
progress_name = ''
welcome_url = ''
course_url = ''
info_url = ''
forum_url = ''
wiki_url = ''
progress_url = ''
tab_class = ''
%>
% for tab in tab_list:
  <%
    if tab.name == 'Welcome':
     welcome_name = tab.name
    endif
    if tab.name == 'Course':
     course_name = tab.name
    endif
    if tab.name == 'Information':
     info_name = tab.name
    endif
    if tab.name == 'Discussion':
     forum_name = tab.name
    endif
    if tab.name == 'Wiki':
     wiki_name = tab.name
    endif
    if tab.name == 'Progress':
     progress_name = tab.name
    endif
    if welcome_set in tab.link_func(course, reverse):
     welcome_url = tab.link_func(course, reverse)
    endif
    if course_set in tab.link_func(course, reverse):
     course_url = tab.link_func(course, reverse)
    endif
    if info_set in tab.link_func(course, reverse):
     info_url = tab.link_func(course, reverse)
    endif
    if forum_set in tab.link_func(course, reverse):
     forum_url = tab.link_func(course, reverse)
    endif
    if wiki_set in tab.link_func(course, reverse):
     wiki_url = tab.link_func(course, reverse)
    endif
    if progress_set in tab.link_func(course, reverse):
     progress_url = tab.link_func(course, reverse)
    endif
  %>
  <%
    ## tab_is_active = welcome_set in (active_page, default_tab)
    if welcome_set in (active_page, default_tab):
        tab_class = welcome_set
    endif
    if course_set in (active_page, default_tab):
        tab_class = course_set
    endif
    if info_set in (active_page, default_tab):
        tab_class = info_set
    endif
    if 'discussion' in (active_page, default_tab):
        tab_class = 'discussion'
    endif
    if 'wiki' in (active_page, default_tab):
        tab_class = 'wiki'
    endif
    if progress_set in (active_page, default_tab):
        tab_class = progress_set
    endif
  %>
<!--
  <li class="tab">
  <a href="${tab.link_func(course, reverse)}" class="${tab_class}">
  ${_(tab.name)}
  % if tab_is_active:
      <span class="sr">, current location</span>
  %endif
  % if tab_image:
      ## Translators: 'needs attention' is an alternative string for the
      ## notification image that indicates the tab "needs attention".
      <img src="${tab_image}" alt="${_('needs attention')}" />
  %endif
  </a>
  </li>
-->
% endfor
<style>
.wrapper-course-material .course-tabs li {
  float: none;
  display:inline-block;
  text-transform: none;
}
.wrapper-course-material .course-tabs li img {
  display: block;
  float: left;
}
.wrapper-course-material .course-tabs li a, .wrapper-course-material .course-tabs li a:visited,.wrapper-course-material .course-tabs li a:hover {
  color: #445561;
  float: left;
  font-size: 18px;
  font-family: 'helveticaneue-light';
  border: none;
}
.wrapper-course-material .course-tabs li a:hover {
  color: #8A4186;
}
#li_stat {
  display: none;
}
#button_stat,#button_stat:focus,#button_stat:hover {
  height: 20px;
  margin-top: 10px;
  margin-bottom: 13px;
  margin-left: 15px;
  margin-right: 15px;
  display: block;
  float: left;
  padding: 0;
  border-radius: 0px;
  text-shadow: none;
  color: #445561;
  font-size: 18px;
  font-family: 'helveticaneue-light';
  border: none;
  background-color: transparent;
  background-image: none;
  font-weight: bold;
  box-shadow: none;
}
.tabes {
  display: inline-block;
  float: none;
  font-family: 'gothamrounded-bold';
  font-size: 50px;
  font-style: normal;
  height: 42px;
  line-height: 30px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  text-align: right;
}
.tab img {
  margin-top: 12px;
  width: 17px;
  height: 17px;
}
@media(max-width: 1167px) {
  #li_stat {
    display: inline-block;
  }
}
</style>
<li class="tab"><img src="/static/themes/phileastheming/images/welcome.png"><a href="${_(welcome_url)}" class="${_(tab_class)}">${_(welcome_name)}</a></li>
<li class="tab"><img src="/static/themes/phileastheming/images/course.png"><a href="${_(course_url)}" class="${_(tab_class)}">${_(course_name)}</a></li>
<li class="tab"><img src="/static/themes/phileastheming/images/progress.png"><a href="${_(progress_url)}" class="${_(tab_class)}">${_(progress_name)}</a></li>
<li class="tab"><img src="/static/themes/phileastheming/images/forum.png"><a href="${_(forum_url)}" class="${_(tab_class)}">${_(forum_name)}</a></li>
<li class="tab"><img src="/static/themes/phileastheming/images/wiki.png"><a href="${_(wiki_url)}" class="${_(tab_class)}">${_(wiki_name)}</a></li>
<li class="tab"><img src="/static/themes/phileastheming/images/info.png"><a href="${_(info_url)}" class="${_(tab_class)}">${_(info_name)}</a></li>
% if welcome_set in (active_page, default_tab):
<li id="li_stat" class="tabes"><button id="button_stat">My stats</button></li>
% endif
<script>
  function Active_course_navigation() {
    $('.tab').children('a').each(function(){
      var url = $(this).attr('href');
      var Class = $(this).attr('class');
      if(url.indexOf(Class) == -1) {
        $(this).css('color', '#445561')
      }else {
        $(this).css('color', '#8A4186');
      }
    })
  }
  function alignerImg() {
    $('.tab').children('img').each(function(){
      var height = $(this).height();
      if(parseInt(height) < 19) {
        var marginTop = (parseInt(46) - parseInt(height)) / 2;
        $(this).css('margin-top',marginTop+'px');
      }else{
        var marginTop = (parseInt(42) - parseInt(height)) / 2;
        $(this).css('margin-top',marginTop+'px');
      }
    })
  }
  $(document).ready(function(){
    Active_course_navigation();
    /*
    alignerImg();
    */
  })
</script>
