  .nonbre_indic {
    font-family: 'helveticaneue-bold';
  }
  #unenroll-modal {
    width: 50vw;
    height: 400px;
    margin-top: -200px;
    margin-left: -25vw;
  }
  #dashboard-main,.dashboard {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
  .profile-sidebar,#profile-sidebar {
    float: left;
    margin-right: 0px;
    margin-left: 60px;
    margin-top: -40px;
    border-top: none;
    background-color: #09a0e0;
    color: #fff;
    padding-bottom: 0;
    width: 368px;
  }
  .profile-sidebar li,#profile-sidebar li {
      width: 100%;
      height: 100%;
      border-bottom: 2px solid #6bc4ec;
  }
  .profile-sidebar a, #profile-sidebar a {
    display: inline-block;
    width: auto;
  }
  .profile-sidebar li:last-child,#profile-sidebar li:last-child {
      border-bottom: none;
      margin-top: 20px;
      width: auto;
      margin-bottom: 40px;
      min-width: 181px;
  }
  .course-container {
    margin-top: 40px;
  }
  #profile-sidebar .user-info img {
    display: block;
    width: 125px;
    height: 125px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 62.5px;
    margin-top: 40px;
  }
  .label-username,.label-other {
    width: 100%;
    height: 20px;
    font-size: 20px;
    font-family: "helveticaneue-bold";
    text-align: center;
    font-weight: bold;
    margin-top: 22px;
    text-transform: uppercase;
  }
  .label-other {
    font-size:15px;
    margin-top: 12px;
    margin-bottom: 40px;
  }
  .wrapper-header-courses h2:first-child {
    margin-left: 60px;
    width: calc(100% - 60px);
    color: #8A4185;
    font-family:"gothamrounded-bold";
    font-size: 30px;
    text-transform: uppercase;
  }
  .formation_en_cours, .formation_reussit {
    text-align: left;
    width: calc(100% - 80px);
    margin-left: 80px;
    font-size: 18px;
    height: 35px;
    line-height: 35px;
    vertical-align: bottom;
  }
  .formation_en_cours {
    margin-top: 30px;
  }
  .formation_reussit {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .dashboard .profile-sidebar .user-info>ul li span {
    font-size: 35px;
    display: inline;
  }
  .dashboard {
    padding-top: 0px;
  }
  .primary {
    text-align: center;
  }
  .profile-sidebar a,#profile-sidebar a {
    display: block;
    text-align: center;
    height: 34px;
    font-size: 16px;
    font-family: "helveticaneue-bold";
    line-height: 34px;
    vertical-align: middle;
    border: 2px solid #fff;
    padding-left: 18px;
    padding-right: 18px;
    color: #fff;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
  }
  .profile-sidebar a:first-child,#profile-sidebar a:first-child {
    margin-top: 40px;
    width: 181px;
  }
  .profile-sidebar a:last-child,#profile-sidebar a:last-child {
    margin-top: 20px;
    width: 280px;
    margin-bottom: 40px;
  }
  /* courses */
  .my-courses,#my-courses {
    width: 850px;
    margin-top: 20px;
    margin-left: 50px;
  }
  .course {
    background-color: #fff;
    padding-left: 25px;
  }
  .up_dashboard {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .up_dashboard div {
    margin-left: 60px;
    width: calc(100% - 60px);
  }
  .dashboard-englobe {
    width: 1440px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    background-color: #F5F6F8;
    height: 100%;
  }
.dashboard .my-courses .course .details .wrapper-course-image .cover, .dashboard .my-courses .course .details .wrapper-course-image a.fade-cover {
  border: none;
}
.sub-menu-low-rez {
  display: none;
  width: 100%;
  height: 40px;
}
#sub-menu-low-rez {
  margin: 0px;
  background-image: none;
  background-color: transparent;
  font-size: 12px;
  color: #000;
  font-family: 'arial';
  box-shadow: none;
  border: none;
  border-radius: 0px;
  text-shadow:none;
  text-transform: none;
  padding: 0px;
  text-align: center;
  vertical-align: middle;
  line-height: 36px;
  width: 120px;
  margin-left: calc(100% - 131px);
  height: 36px;
  margin-top: 1px;
  border: 1px solid black;
  font-weight: bold;
  margin-bottom: 1px;
}
#sub-menu-low-rez img {
  display: block;
  width: 17px;
  height: 18px;
  margin-top: 9px;
  margin-bottom: 9px;
  margin-left: 3px;
  margin-right: 3px;
  float: left;
}
.dashboard .my-courses .empty-dashboard-message a {
  line-height: 64px;
  vertical-align: middle;
  text-align: center;
  background-color: #09a0e0;
  color: #fff;
  bottom: 0;
  right: 0;
  width: 285px;
  height: 64px;
  border: none;
  letter-spacing: 1.7px;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  font-family: 'helveticaneue-bold';
  font-size: 14px;
  border-radius: 0px;
  text-shadow: none;
  border: none;
  background-image: none;
}
.dashboard .my-courses .empty-dashboard-message p {
  font-family: 'helveticaneue-light';
}
@media(max-width:1516px) {
  .my-courses, #my-courses {
    width: 734px;
  }
}
@media(max-width: 1440px) {
  .up_dashboard {
    margin-left: 0px;
    margin-right: 0px;
    width: 100vw;
  }
  .dashboard,.dashboard-englobe {
    width: 100vw;
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media(max-width: 1211px) {
  .my-courses, #my-courses {
    margin-left: 20px;
  }
}
@media(max-width:1192px) {
  .up_dashboard div {
    margin-left: 0px;
    width: 100%;
  }
  .wrapper-header-courses h2:first-child {
    margin-left: 0px;
    width: 100%;
  }
  .up_dashboard {
    padding-left: 5px;
    width: calc(100% - 5px);
  }
  .formation_en_cours, .formation_reussit {
    text-align: left;
    width: calc(100%);
    margin-left: 0px;
  }
  .dashboard .my-courses .course {
    margin-top: 0px;
  }
  .profile-sidebar, #profile-sidebar {
    width: 200px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .profile-sidebar a:first-child, #profile-sidebar a:first-child {
    width:182px;
    margin-left: 3px;
    margin-right: 3px;
    padding: 2px;
        font-size: 10px;
  }
  .profile-sidebar a:last-child, #profile-sidebar a:last-child {
        width:182px;
        margin-left: 3px;
        margin-right: 3px;
        padding: 2px;
        font-size: 10px;
  }
}
@media(max-width:1516px) {
  .my-courses, #my-courses {
    width: 734px;
  }
}
@media(max-width: 974px) {
  .my-courses, #my-courses {
    margin-left: 0px;
  }
}
@media(max-width:953px) {
  .my-courses, #my-courses {
    width: calc(100% - 220px);
  }
}
@media(max-width:768px) {
  .dashboard-englobe {
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
  }
  .course-container {
    margin-top: 0px;
    margin-bottom: 15px;
  }
  .dashboard .my-courses .course {
    margin-top: 0px;
  }
  .my-courses, #my-courses {
    width: 528px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .profile-sidebar, #profile-sidebar {
    width: 200px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .profile-sidebar a:first-child, #profile-sidebar a:first-child {
    width:182px;
    margin-left: auto;
    margin-right: auto;.
    padding: 2px;
    font-size: 10px;
  }
  .profile-sidebar a:last-child, #profile-sidebar a:last-child {
    width:182px;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    font-size: 10px;
  }

  .profile-sidebar {
    display: none;
  }
  .my-courses,#my-courses {
    width: 100vw;
    margin: 0px;
    margin-bottom: 10px;
  }
  .dashboard-englobe {
    margin-top: 40px;
  }
  .sub-menu-low-rez {
    display: block;
  }
  .profile-sidebar, #profile-sidebar {
    position: absolute;
    z-index: 1000;
    height: 480px;
    top: 290px;
    left: calc(100% - 335px);
    margin: 0px;
    width: 294px;
    border: 3px solid #fff;
  }
  .formation_en_cours,.formation_reussit {
    width: 50%;
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    height: 50px;
    line-height: 25px;
    font-size: 14px;
  }
  #profile-sidebar .user-info img {
    margin-top: 10px;
  }
  .label-username {
    margin-top: 10px;
  }
  .dashboard .profile-sidebar .user-info>ul li {
    padding-bottom: 10px;
    display: inline;
  }
  .label-other {
    margin-bottom: 0px;
  }
  .profile-sidebar a:first-child, #profile-sidebar a:first-child {
    margin-top: 5px;
  }
  .profile-sidebar a:last-child, #profile-sidebar a:last-child {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
@media(max-width:563px) {
  .dashboard .my-courses .course {
    width: 100vw;
    margin: 0;
    margin-top: 10px;
  }
  .dashboard .my-courses .course .details .wrapper-course-image .cover, .dashboard .my-courses .course .details .wrapper-course-image a.fade-cover {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
@media(max-width:425px) {
  .profile-sidebar, #profile-sidebar {
    left: 50%;
    top: 265px;
    margin-left: -160px;
  }
}
@media(max-width: 391px) {
  #sub-menu-low-rez span{
    display:none;
  }
  #sub-menu-low-rez {
    width: 42px;
    padding-left: 9px;
    padding-right: 9px;
    margin-left: calc(100% - 52px);
  }
}
