
.wrapper-footer {
  padding-top: 0;
}
.details {
  position: relative;
}
.dashboard .my-courses .course .details .wrapper-course-image {
  width: 50%;
  margin-right: 0px;
  min-height: 230px;
}
.dashboard .my-courses .course .details .wrapper-course-details {
  width: 50%;
}
.wrapper-course-image img {
  width: 320px;
  height: 200px;
  display: block;
  max-height: 187.5px;
}
.wrapper-action-more {
  width: calc(100% - 280px);
  clear: left;
  position: absolute;
  bottom: 20px;;
  z-index: 10;
}
.course-actions {
  height: 65px;
}
.actions-item a {
  display: block;
  float: left;
  margin-right: 15px;
  color: #445561;
  font-size: 14px;
  font-family:"helveticaneue-light";
  margin-top: 56px;
}
.action-item a img {

}
.actions-item a:first-child {
  margin-right: 15px;
}
.dashboard .my-courses .course .details .course-info,.course-info {
  width: 100%;
}
.dashboard .my-courses .course .details .course-title a, .dashboard .my-courses .course .details .course-title span {
  color: #363F4D;
  font-size: 24px;
  letter-spacing: 1.7px;
  font-family: 'helveticaneue-bold';
}
.dash-img {
  width: 320px;
  max-height: 200px;
  height: 200px;
  float: left;
  display: block;
  margin-top: -38px;
  border: none;
  box-shadow: none;
}
.dash-img a {
  width: 320px;
  max-height: 200px;
  height: 200px;
  float: left;
  display: block;
  margin-top: -78px;
}
.consulter-dash {

  margin-top: 80px;
}

#course-info-pop2,#counsulter1,.social2-on,.button-option {
  display: none;
}
.dashboard .my-courses .course .details .enter-course{
  line-height: 64px;
  vertical-align: middle;
  text-align: center;
  background-color: #09a0e0;
  color: #fff;
  bottom:0;
  right:0;
  z-index: 10;
  width: 285px;
  height: 64px;
  border: none;
  letter-spacing: 1.7px;
  margin: 0px;
  padding: 0px;
  text-transform:uppercase;
  font-family: 'helveticaneue-bold';
  font-size: 14px;
  border-radius: 0px;
}
.dashboard .my-courses .course .details .wrapper-course-image .cover, .dashboard .my-courses .course .details .wrapper-course-image a.fade-cover  {
    height: 200px;
    max-height:235px;
  }
.dashboard .my-courses .course .details .enter-course {
  margin-top: 50px;
}
.dashboard .my-courses .course .details .wrapper-course-image .imageVodeclick img{
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  margin-top: 18.75px;
  margin-bottom: 18.75px;
}
.dashboard .profile-sidebar .user-info>ul li span {
  display: inline-block;
  margin-right: 5px;
}
.dashboard .my-courses .course .details .course-title a {
height: auto;
}
.dashboard .my-courses .course .details .wrapper-course-actions {
position: absolute;
bottom: 0;
right: 0;
}
.dashboard .my-courses .course .details .course-info .info-date-block img {
margin-bottom: 3px;
}

.dashboard .my-courses .course .details .wrapper-course-image .cover  {
max-width: 300px;
margin-left: -150px;
height: auto;
left: 50%;
}
.dashboard .my-courses .course .details .wrapper-course-image .imageVodeclick {
  background: linear-gradient(transparent 2px, rgba(105,105,105,0.2) 2px);
  background-size: 1px 3px;
}
.course-info p {
height: 40px;
}
.social2-on {
display:none;
}
.inner-wrapper {
  position: relative;
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
}
#unenrollment-modal-title {
  border-bottom-color: transparent;
}
.sr {
  display: none;
}
.modal .inner-wrapper, .leanModal_box .inner-wrapper, body.discussion .wmd-prompt-dialog .inner-wrapper, .discussion-module .wmd-prompt-dialog .inner-wrapper, .discussion-user-threads .wmd-prompt-dialog .inner-wrapper {
  border: none;
  box-shadow: none;
  padding: 0;
}
.modal .inner-wrapper header hr, .leanModal_box .inner-wrapper header hr, body.discussion .wmd-prompt-dialog .inner-wrapper header hr, .discussion-module .wmd-prompt-dialog .inner-wrapper header hr, .discussion-user-threads .wmd-prompt-dialog .inner-wrapper header hr {
  display: none;
}
#unenrollment-modal-title {
  color: #8a4186;
  font-family: 'gothamrounded-medium';
  font-size: 24px;
  border-bottom: none;
}
.modal .inner-wrapper form .submit input[type="submit"]{
  background: none;
  box-shadow: none;
  text-shadow: none;
  border: none;
  border-radius: 0px;
  color: #8a4186;
  border: 2px solid #8a4186;
  width: auto;
  font-family: 'helveticaneue-medium';
}
.language {
  position: absolute;
  z-index: 1000;
  background-color: grey;
  color: #fff;
  font-size: 18px;
  padding: 2px;
  bottom: 3px;
  text-transform: uppercase;
}
@media(max-width:1192px) {
.dashboard .my-courses .course .details .wrapper-course-image .cover, .dashboard .my-courses .course .details .wrapper-course-image a.fade-cover  {
    height: 200px;
    max-height:500px;
  }
  .dashboard .my-courses .course .details .enter-course {
    margin-top: 0px;
  }
  .social-sharing a,.actions-item a {
    margin-top: 5px;
  }
  .wrapper-action-more {
    width: 100%;
    clear: left;
    position: absolute;
    bottom: 15px;
    z-index: 10;
  }
}
@media(max-width: 1024px) {
  .formation_en_cours,.formation_reussit {
    font-size: 15px;
  }
  .social-sharing {
    font-size: 12px;
  }
  .actions-item a:first-child {
      margin-right: 5px;
  }
  .profile-sidebar {
    width: 220px;
  }
}
@media(max-width:1018px) {
  .dashboard .my-courses .course .details .wrapper-course-image .cover, .dashboard .my-courses .course .details .wrapper-course-image a.fade-cover  {
      max-height:200px;
    }
  .dash-img,.dash-img a {
    margin-top: 0;
    width: 230px;
    height:128px;
  }
  .wrapper-course-image img {
    width: 230px;
    height: 120px;
  }
  .course-actions {
    height: 65px;
  }
.dashboard .my-courses .course .details .course-title a, .dashboard .my-courses .course .details .course-title span {
  font-size: 16px;
  line-height: 28px;
}
  .wrapper-course-actions {
    height: 63px;
  }
  .actions-item a {
    margin-right: 5px;
    font-size: 14px;
    margin-top: 3px;
  }
  .consulter-dash {
    margin-top: 0px;
  }
  .profile-sidebar a, #profile-sidebar a {
    width: calc(100% - 8px);
    font-size: 12px;
  }
}
@media(max-width: 825px) {
  .social-sharing a {
    margin-right: 2px;
    font-size: 10px;
  }
}
@media(max-width:768px) {
  .dash-img,.dash-img a {
    margin-top: 0;
    width: 230px;
    height:128px;
  }
  .wrapper-course-image img {
    width: 230px;
    height: 120px;
  }
  .course-actions {
    height: 20px;
  }
.dashboard .my-courses .course .details .course-title a, .dashboard .my-courses .course .details .course-title span {
  font-size: 16px;
  line-height: 28px;
}
  .wrapper-course-actions {
    height: 63px;
  }
  .actions-item a {
    margin-right: 5px;
    font-size: 14px;
    margin-top: 3px;
  }
  .consulter-dash {
    margin-top: 0px;
  }
  .profile-sidebar a, #profile-sidebar a {
    width: calc(100% - 8px);
    font-size: 12px;
    height: auto;
  }
  .button-option-action,.button-option-action:focus:not(:disabled),.button-option-action:hover:not(:disabled) {
    margin:0px;
    box-shadow: none;
    text-shadow: none;
    border:none;
    border-radius: none;
    background-image: none;
    background-color: transparent;
    color: #000;
    text-transform:none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    display: block;
    outline: none;
  }
  .dashboard .my-courses .course .details .enter-course {
    width: 200px;
  }
  .formation_en_cours,.formation_reussit {
    text-align:center;
  }
  .wrapper-action-more {
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: 22px;
  }
  .dashboard .my-courses .course .details .wrapper-course-image {
    position: relative;
  }

  article, aside, details, figcaption, figure, footer, header, nav, section {
    height: auto;
  }
}
@media(max-width: 700px) {
  .dash-img {
    margin-top: -38px;
  }
  .wrapper-action-more {
    bottom: 18px;
  }
}
@media(max-width:563px) {
  #social1-on,#course-info-pop1,#text-compl {
    display: none;
  }
  .social2-on {
    display:block;
    margin-top: 5px;
  }
  .button-option {
    display: block;
    width: 100%;
  }
  #course-info-pop2 {
    display: block;
    text-align: center;
  }
  ..dashboard .my-courses .listing-courses .course-item .course-container {
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
  }
  .course-title {
    text-align: center;
  }
  .dashboard .my-courses .course .details .wrapper-course-image .cover, .dashboard .my-courses .course .details .wrapper-course-image a.fade-cover {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    height: 50vw;
    max-height: 50vw;
  }
  .dashboard .my-courses .course .details .wrapper-course-image a img {
    width: 100%;
    height: 100%;
  }
  .course {
    padding-left: 0;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .dashboard .my-courses .course .details .wrapper-course-image {
    width: 100%;
    margin-right: 0px;
  }
  .dashboard .my-courses .course .details .wrapper-course-details {
    width: 100%;
  }
  .dash-img,.dash-img a {
    margin-top: 0;
    width: 90%;
    margin-left: 5%;
    margin-right: 5% ;

  }
  .course-actions {
      width:100%;
  }
  #counsulter1 {
    display: none;
  }
  #counsulter2 {
    display: block;
    clear: right;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .dashboard .my-courses .course .details .enter-course {
    float: none;
  }
  .actions-item a:first-child,.actions-item a:last-child {
    width: 40%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .actions-item a:first-child {
    float: left;
  }
  .actions-item a:last-child {
    float: right;
  }
  .dashboard .my-courses .course .details .course-info {
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid black;
  }
  #counsulter2 .course-actions a {
    position: relative;
    width: 284px;
    margin-left: calc(50% - 142px);
    margin-right: calc(50% - 142px);
  }
  .dashboard .my-courses .course .details .course-info {
    border-bottom: none;
  }
  .wrapper-course-image,.dashboard .my-courses .course .details .wrapper-course-image .cover, .dashboard .my-courses {
    min-height: 187.5px;
  }
  .wrapper-action-more {
      width: 100%;
      clear: left;
      position: relative;
      bottom: 0;
    }
  .dashboard .my-courses .course {
    height: auto;
  }
}
@media(max-width: 415px) {
  .dashboard .my-courses .listing-courses .course-item .course-container {
    min-height: 480px;
  }
  .dashboard .my-courses .course {
    height: 100%;
  }
  .dashboard .my-courses .course .details .wrapper-course-image {
    min-height: 210px;
  }
}
@media(max-height: 400px) {
  .actions-item a {
    font-size: 12px;
  }
}
@media(max-width:360px) {
  .dashboard .my-courses .course .details .wrapper-course-image .cover {
    margin-left: -144px;
    top: -20px;
  }
  .details {
    margin-top: 30px;
  }
  .course-info p {
    height: 20px;
  }
}
@media(max-height: 330px) {
  .actions-item a {
    font-size: 10px;
  }
}
