<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from openedx.core.djangolib.markup import HTML
%>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>

<%block name="pagetitle">${_("Cpf")}</%block>

<%block name="header_extras">
<!--
<link rel="stylesheet" type="text/css" href="${static.url('css/tma_news.css')}">
-->
</%block>
<style>
  #contenair_title {
    width: 1180px;
    padding-left: calc((100% - 1180px) / 2);
    padding-right: calc((100% - 1180px) / 2);
    height: auto;
  }
  #contenair_title {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  @media(max-width: 1180px) {
    #contenair_title {
      width : calc(100% - 10px);
      padding-left: 5px;
      padding-right: 5px;
    }
    #contenair_inside {
      width: 100%;
    }
  }
  #title {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    font-weight: 600;
    line-height: 28px;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: transparent;
    color: #914d8e;
    font-size: 30px;
    font-family: 'gothamrounded-medium';
  }
  #ariane a,#ariane a:hover,#ariane a:visited,#ariane a:focus {
    color: #3D4857;
    font-size: 14px;
    font-family: 'helveticaneue';
    text-decoration: none;
  }
  .baniere {
    padding:0;
    width: 1440px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'gothamrounded-book';
    text-align: justify;
  }
  .baniere-img {
  background-image:url('/static/themes/phileastheming/images/img_index_desktop.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: relative;
  background-color: #272530;
  height: 102px;
  padding-top:124px;
  padding-bottom:124px;
  position: relative;
  }
  .ariane_news {
    position: absolute;
    width: 100%;
    top: 25px;
    left: 170px;
    z-index: 10;
  }
  .ariane_news a,.ariane_news a:hover,.ariane_news a:focus {
    color: #fff;
    display: inline;
    text-transform: none;
  }
  .separation {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
  }
  /*
  .heading-group p {
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 23px;
    font-family: 'helveticaneue-light';
    text-align: justify;
  }
  */
  :focus {
      outline: none;
  }
  .h1-span {
      display: block;
      width: 100%;
      height: 45px;
      color: #fff;
      font-family: 'gothamrounded-book';
      font-size: 50px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: justify;
  }
  #content_cpf {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }
  #titre_cpf {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #titre_cpf,#paragraphes_cpf,#video_cpf {
    height: auto;
    width: 1180px;
    padding-left: calc((100% - 1180px) / 2);
    padding-right: calc((100% - 1180px) / 2);
  }
  @media(max-width:1180px) {
    #paragraphes_cpf {
      width: 100%;
    }
  }
  #titre_cpf h1 {
    text-transform: uppercase;
    background-color: transparent;
    color: #914d8e;
    font-size: 30px;
    font-family: 'gothamrounded-medium';
    text-align: left;
    padding-left: 20px;
    width: calc(100% - 40px);
    text-align: justify;
  }
  #video_cpf img {
    display: block;
    float: left;
    height: 310px;
    width: calc(25%);
  }
  #video_cpf iframe {
    padding: 0;
    border: none;
    margin: 0;
    display: block;
    float: left;
    width: 75%;
    height: 310px;
  }
  #into_video_cpf {
    width: 70%;
    height: auto;
    text-align: center;
  }
  #clear-left {
    clear: left;
  }
  @media(max-width: 1440px) {
    #content_cpf {
      width: 100vw;.
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media(max-width: 1180px) {
    #video_cpf img {
      width: 17.4vw;
      height: 26.2vw;
    }
    #video_cpf iframe {
      width: 52vw;
      height: 26.2vw;
    }
    #video_cpf {
      width: 100vw;
    }
  }
  @media(max-width:768px) {
    #into_video_cpf {
      width: 100%;
      margin: 0;
      padding: 0;
    }
    #video_cpf img {
      width: 25vw;
      height: 37.7vw;
    }
    #video_cpf iframe {
      width: 75vw;
      height: 37.7vw;
    }
  }
  #menu_info {
    width: 70%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
    .menu_top {
      width: calc(100% - 16px);
      padding-left: 8px;
      padding-right: 8px;
      line-height: 60px;
      vertical-align: middle;
      background-color: #009DE0;
      color: #fff;
      font-family: 'helveticaneue-medium';
    }
    .menu_down {
      width: calc(100% - 20px);
      height: auto;
      display:none;
      padding: 10px;
      color: #445561;
      font-family: 'helveticaneue-light';
    }
    .menu_down p {
      padding: 0;
      margin: 0;
    }
    .marge {
      width: 100%;
      height: 5px;
    }
    @media(max-width: 768px) {
      #menu_info {
        width: calc(100% - 10px);
        padding-left: 5px;
        padding-right: 5px;
      }
    }
</style>
<script>
  function reorgPara() {
    var This = $('#paragraphes_cpf');
    var longUl = This.find('ul').width();
    var longLi = This.find('li').width();
    var newMargLi = parseInt(longUl) - parseInt(longLi);
    This.find('li').css('margin-left','-'+newMargLi+'px');
  }
  function hauteurVideoImg() {
    var This = $('#video_cpf');
    var ThisIframe = $('#video_cpf').find('iframe');
    var ThisImg = $('#video_cpf').find('img');
    var iframeWidth = ThisIframe.width();
    var allHeight = parseInt(iframeWidth) * 0.563;
    This.css('height',allHeight);
    ThisIframe.css('height',allHeight);
    ThisImg.css('height',allHeight);

  }
  $(document).ready(function(){
    //reorgPara();
    //hauteurVideoImg();
  })
  $(window).resize(function(){
    //reorgPara();
    //hauteurVideoImg();
  })
</script>
<section id="content_cpf">
  <div id="contenair_title">
    <div id="ariane">
      <a href="/">${_("Home")}</a> > <a href="#">CPF</a>
    </div>
    <div id="title">Tout savoir sur votre Compte Personnel de Formation (CPF)</div>
    <!--
    <div id="sub_title">${_("")}</div>
    -->
   </div>
  <section id="video_cpf">
    <div id="into_video_cpf">
      <a href="https://www.intramundi.com/DocumentsIntrAmundi/4.Ressources%20Humaines/IntranetRH2015/4.%20Mobilit%C3%A9%20Formation%2c%20%C3%89valuation%20et%20Entretien%20Professionnel/4.2.%20Formation/GUIDE-CPF.pdf">
      <img src="${static.url('images/cpf.png')}">
    </a>
      <iframe src="https://www.youtube.com/embed/LM4iq3zSI8Y" frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="clear-left"></div>
  </section>
  <section id="paragraphes_cpf">
    <div id="menu_info">
      <div class="menu_top" data-number="1">
        Qu’est-ce que le Compte Personnel de Formation (CPF) ?
      </div>
      <div class="menu_down" data-number="1" style="display:block;">
      <p>
        L’objectif du CPF est de rendre le salarié acteur de son évolution professionnelle. C’est une épargne d’heures de formation dont vous pouvez disposer tout au long de votre vie professionnelle, quelle que soit l’entreprise dans laquelle vous travaillez. Que vous changiez d’employeur ou une période de chômage, ce crédit d’heures vous est toujours rattaché.
      </p>
      </div>
      <div class="marge"></div>

      <div class="menu_top" data-number="2">
        De combien d'heures je dispose ?
      </div>
      <div class="menu_down" data-number="2">
      <p style="margin-top: 0px;">
        150 heures au maximum. Les heures accumulées dans votre ancien DIF sont automatiquement crédités sur votre CPF.
      </p>
      <p style="margin-top: 0px;">
        Le CPF est crédité jusqu’à 24 heures par an. L’acquisition de ces heures se fait au prorata du taux d’activité.
      </p>
      </div>
      <div class="marge"></div>

      <div class="menu_top" data-number="3">
        Est-ce que je peux m'inscrire à tout type de formation ?
      </div>
      <div class="menu_down" data-number="3">
      <p>
        Non, votre CPF est réservé aux formations qualifiantes et certifiantes, visant l’acquisition d’un socle de connaissances et de compétences ou accompagnant la VAE (Validation des Acquis de l'Expérience).
      </p>
      </div>
      <div class="marge"></div>

      <div class="menu_top" data-number="4">
        Chez Amundi, quelles sont les types de formation préconisées ?
      </div>
      <div class="menu_down" data-number="4">
      <p>
        Les formation en langues sont les plus demandées et les plus simples à obtenir.
      </p>
      <p>
        Par exemple, si vous souhaitez vous former à l’anglais mais que votre demande n’a pas été validée lors de ou l’entretien professionnel, vous pouvez utiliser votre CPF sous réserve de passer le TOEIC (certificat attestant de votre niveau) à l’issue de votre formation !
      </p>
      </div>
      <div class="marge"></div>

      <div class="menu_top" data-number="5">
        Concrètement, comment utiliser mon CPF ?
      </div>
      <div class="menu_down" data-number="5">
      <p>
        Si votre formation se déroule hors temps de travail, vous n’avez pas besoin de l’accord de votre manager ou de la DRH. Il vous faut juste avoir plus d’un an d’ancienneté dans l’entreprise à la date de demande de formation.
      </p>
      <p>
        Si votre formation se déroule sur votre temps de travail ? L’employeur doit donner son accord à la fois sur le contenu de la formation et sur le calendrier prévisionnel. Dans ce cas, votre salaire est maintenu mais vous devez faire votre demande officielle 60 jours avant le début de la formation si celle-ci dure moins de 6 mois. Au-delà, déclarez-vous au moins 120 jours avant le début.
      </p>
      </div>
      <div class="marge"></div>

      <div class="menu_top" data-number="6">
        Comment créer mon compte CPF ?
      </div>
      <div class="menu_down" data-number="6">
      <p>
        La création du compte CPF est décrite en détail dans le guide CPF édité par Amundi. Téléchargez le guide en cliquant sur <a href="https://www.intramundi.com/DocumentsIntrAmundi/4.Ressources%20Humaines/IntranetRH2015/4.%20Mobilit%C3%A9%20Formation%2c%20%C3%89valuation%20et%20Entretien%20Professionnel/4.2.%20Formation/GUIDE-CPF.pdf">ce lien.</a>
      </p>
      </div>
      <div class="marge"></div>

      <div class="menu_top" data-number="7">
        Qui peut me renseigner chez Amundi ?
      </div>
      <div class="menu_down" data-number="7">
      <p>Le service formation peut vous accompagner dans vos démarches. Rencontrez votre interlocuteur dédié (<a href="https://www.intramundi.com/Pages/RessourcesHumaines/MobiliteFormationEvaluation/Formation.aspx">l’organigramme sur l’intranet</a>)</p>
      <p>
        Le guide CPF d’Amundi est disponible <a href="https://www.intramundi.com/DocumentsIntrAmundi/4.Ressources%20Humaines/IntranetRH2015/4.%20Mobilit%C3%A9%20Formation%2c%20%C3%89valuation%20et%20Entretien%20Professionnel/4.2.%20Formation/GUIDE-CPF.pdf">depuis ce lien.</a>
      </p>
      <p>
        Votre compte doit être activé depuis ce lien : <a href="www.moncompteformation.gouv.fr">www.moncompteformation.gouv.fr</a>
      </p>
      </div>
    </div>
  </section>
</section>
<script>
function lineHeight() {
  $('.menu_top').each(function(){
    var This = $(this);
    var height = This.css('height');
    var line = This.css('line-height');
    var rapport = '';
      if(parseInt(height) > 60) {
        rapport = 60 / (parseInt(height) / 60);
        This.css('line-height',rapport+'px');
      }
  })
}
function Slide() {
  $('.menu_top').each(function(){
    var This = $(this);
    var height = This.css('height');
    var line = This.css('line-height');
    var data = This.data('number');
    This.click(function(){
      $('.menu_down').each(function(){
        var Me = $(this);
        var dat = Me.data('number');
        if(dat == data) {
          if(Me.is( ":hidden" )) {
            $('.menu_down').slideUp("slow");
            Me.slideDown("slow");
          }else{
            Me.slideUp("slow");
          }
        }
      })
    })
    /* ajustement line-height */
  })
}
function alignCircle() {
  $('.cell1').each(function(){
    var height = parseInt($(this).find('.textone').height()) + 60;
    $(this).find('.middle1').css('height',height+'px');
  })
  $('.cell2').each(function(){
    var height = parseInt($(this).find('.textwo').height()) + 60;
    $(this).find('.middle2').css('height',height+'px');
  })
  $('.cell3').each(function(){
    var height = parseInt($(this).find('.textwo').height()) + 60;
    $(this).find('.middle3').css('height',height+'px');
  })
}
$(document).ready(function(){
  alignCircle();
  Slide();
  lineHeight();
})
console.log()
$(window).resize(function(){
  alignCircle();
  lineHeight();
})
$(document).on('DOMNodeInserted', function(e) {
  lineHeight();
})
</script>
