<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>
<link rel="stylesheet" type="text/css" href="/static/themes/phileastheming/css/faq.css">
  <div id="contenair">
    <div id="contenair_title">
      <div id="ariane">
        <a href="/">${_("Home")}</a> > <a href="#">${_("About")}</a>
      </div>
      <div id="title">${_("Discover Phileas")}</div>
      <!--
      <div id="sub_title">${_("")}</div>
      -->
     </div>
     <div id="contenair_inside">
      <div id="fil">
        <h2></h2>
        <div id="timeline">
          <!-- cellule 1 -->
          <div class="cell1">
            <div class="textone">
              <span class="text_inside_one">
                <h3>${_("Simple login")}</h3>
                <p>${_("Phileas allows you to access your courses anywhere from an Amundi device. Sign in once with your Amundi login password")}<span class="${_('hide-picture-english')}">, “et voilà” !</span></p>
              </span>
            </div>
            <div class="middle1">
              <div class="line dashed"></div><div class="circleone"></div><div class="line"></div>
            </div>
          </div>
          <div class="clear_left"></div>
          <!-- cellule 2 -->
            <div class="cell3">
              <div class="middle3">
                <div class="line3"></div><div class="circle3"></div><div class="line3"></div>
              </div>
              <div class="textwo">
                <span class="text_inside_two">
                  <h3>${_("Diversified content")}</h3>
                  <p>${_("Simple as a search engine")} ! ${_("Find the courses you need and access with a simple clic Some courses are located for English speakers For basics you dont need to registe. For others generally integrated in your development plan within the annual appraisal campaign  you may need your manager to validate it")}</p>
                </span>
              </div>
            </div>
          <div class="clear_left"></div>
          <!-- cellule 3 -->
          <div class="cell1">
            <div class="textone">
              <span class="text_inside_one">
                <h3>${_("A flexible solution")}</h3>
                <p>${_("Phileas pragmatically answers to your needs. No time to finish your course")}? ${_("Resume and finish it later. Phileas meets your operational constraints.")}</p>
              </span>
            </div>
            <div class="middle1">
              <div class="line"></div><div class="circleone"></div><div class="line dashed"></div>
            </div>
          </div>
          <div class="clear_left"></div>
      </div>
    </div>
  </div>
  <div id="contenair_inside_2">
    <h2>${_("Q&A")}</h2>
    <div id="menu_info">
      <div class="menu_top" data-number="1">
        ${_("How to connect to Phileas")} ?
      </div>
      <div class="menu_down" data-number="1" style="display:block;">
        <p>${_("By connecting with your current Windows login/password every morning, you are automatically connected to Phileas.")}</p>
        <p>${_("Personal devices are not yet connected, but will be in the near future.")}</p>
      </div>
      <div class="marge"></div>

      <div class="menu_top" data-number="2">
        ${_("What kind of courses are available in Phileas")} ?
      </div>
      <div class="menu_down" data-number="2">
        <p>${_("You will find trainings for softwares and digital tools (MS Office, Adobe, social networks, etc...). These modules are available in French and English.")}</p>
        <p>${_("Phileas also provide Languages tools such as testing your level.")}</p>
        <p>${_("You will also find courses directly linked to our business and transversal thematics.")}</p>
      </div>
      <div class="marge"></div>

      <div class="menu_top" data-number="3">
        ${_("Does Phileas replace the action plans notified by my manager during the annual appraisal or professional interview (France)")} ?
      </div>
      <div class="menu_down" data-number="3">
        <p>${_("No, the two approaches are complementary. They both provide an answer to the skills development needs. Phileas training modules are digital only. training actions related to the professional interviews development plans are mix presential and digital approaches.")}</p>
      </div>
      <div class="marge"></div>

      <div class="menu_top" data-number="4">
        ${_("I am asked to sign up for a specific courses on Phileas and my manager will arbitrate. Why")} ?
      </div>
      <div class="menu_down" data-number="4">
        <p>${_("Some training modules effectively requires validation of manager or training service. This is the case for time consuming courses or if the cost of the training has to  be arbitrated.")}</p>
      </div>
      <div class="marge"></div>

      <div class="menu_top" data-number="5">
        ${_("I have been invited by email to attend a course with Phileas, why")} ?
      </div>
      <div class="menu_down" data-number="5">
      <p>${_("Mandatory courses hosted on Phileas can be monitored directly from the tool by the training service. Of course, Phileas offers free access to content directly linked with operational topics. But it does not replace the managerial responsibility in terms of development of skills, such as building action plans.")}</p>
      </div>
      <div class="marge"></div>

      <div class="menu_top" data-number="6">
        ${_("Why regulatory trainings are note available on Phileas but in another platform")} ?
      </div>
      <div class="menu_down" data-number="6">
        <p>${_("All regulatory trainings from Credit Agricole S.A. are hosted on the Group platform Syfadys.")}</p>
      </div>
      <div class="marge"></div>

      <div class="menu_top" data-number="7">
        ${_("Who should I contact for issues with Phileas")} ?
      </div>
      <div class="menu_down" data-number="7">
        <p>${_("Please contact your local HR training team for content issues within the modules.")}</p>
        <p>${_("For technical questions related to the operation of Phileas, the IT helpdesk will be your main contact.")}</p>
      </div>
    </div>
  </div>
<script src="/static/themes/phileastheming/js/static.js"></script>
