<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("News")}</%block>
<style>
h1 {
  width: 100%;
  text-align: center;
  height: 28px;
  line-height: 28px;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: transparent;
  color: #914d8e;
  margin-bottom: 70px;
  font-size: 30px;
  font-family: 'gothamrounded-medium';
}
</style>
<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1 style="">${_("News")}</h1>
        <p>${_("News Page.")}</p>
    </section>
</main>
