<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML
from django.core.urlresolvers import reverse
%>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("News")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <div class="news">
            <h1>${_(title)}</h1>
            <p>${HTML(content)}</p>
        </div>
        <hr style="width:9%"/>
        <div class="back-link">
            <a href="${reverse('news')}">${_("Back to news")}</a>
        </div>
    </section>
</main>
