<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML
from django.core.urlresolvers import reverse
%>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("News")}</%block>
<style>
  .news {
    width: 800px;
  }
  .news h1 {
    font-size: 30px;
    color: #8A4185;
    font-family: 'gothamrounded-bold';
    font-weight: 400;
    width: 100%;
    text-align: left;
    margin-top: 30px;
  }
  .container {
    min-width: 0px;
  }
  .news .news_content {
    color: #445561;
    font-size: 20px;
    font-family: 'helveticaneue';
  }
  .summary {
    font-size: 20px;
    line-height: 30px;
    color: #445561;
    font-family: 'helveticaneue-light';
  }
  .author_date {
    font-size: 16px;
    color: #445561;
    font-family: 'helveticaneue-light';
  }
  :focus {
      outline: none;
  }

  .ariane_news a,.ariane_news a:hover,.ariane_news a:focus{
    font-size: 14px;
    color: #3D4857;
    font-family: 'helveticaneue';
  }
  .font-gris {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F5F6F8;
  }
  .news_picture {
    width: 800px;
    height: 400px;
    margin-top: -70px;
    background: url('${news.jacket.url}') no-repeat center;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
  }
  #texts_news p{
    width: 800px;
  }
  @media(max-width:1440px) {
    .news_picture {
      width: 55vw;
      height: 28vw;
    }
    #texts_news p{
      width: 55vw;
    }
    .news {
      width: 55vw;
    }
    .font-gris {
      width: 100vw;
    }
  }
  @media(max-width: 768px) {
    .container {
      width: 98vw;
      margin-left: 1vw;
      margin-right: 1vw;
      padding: 0;
    }
    .news_picture {
      margin-top: 25px;
    }
    .summary {
      height: auto;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .container.about {
      padding: 0;
    }
    .news_picture {
      width: 100%;
      height: 45vw;
    }
    #texts_news p{
      width: 100%;
    }
    .news {
      width: 100%;
    }
    .font-gris {
      width: 100vw;
    }
  }
</style>
<script>
/*
function TailleImage() {
  var Taille = $('#picture').width();
  var Ecran = $('.news').width();
  console.log('taille ecran :' + Ecran);
  console.log('taille image :' + Taille);
  if(parseInt(Taille) > parseInt(Ecran)) {
    $('#picture').css('width',Ecran+'px');
    $('#picture').css('height','auto');
  }else{
    $('#picture').attr('style','');
  }
}

$(document).ready(function(){
  $('#itemHref').attr('href',window.location.href);
  TailleImage();
})
$(window).resize(function(){
  TailleImage();
})
*/
function resizeP(){
  var doc = parseInt($(document).width());
  if(doc < 768) {
    $('p').attr('style','');
    $('span').attr('style','');
    $('#texts_news').find('span').css('font-family','helveticaneue');
    $('#texts_news').find('p').each(function(){
      $(this).css('font-family','helveticaneue');
    })
  }
}
$(document).ready(function(){
  $('#texts_news').find('span').css('font-family','helveticaneue');
  resizeP();
})
$(window).resize(function(){
  resizeP();
})
</script>
<style>
.container.about {
  padding-bottom: 60px;
}
#texts_news p {
  font-family:'helveticaneue';
  font-size: 20px;
  line-height: 30px;
}
</style>
<main id="main" aria-label="Content" tabindex="-1">
      % if news:
      <section class="container about">
        <div class="news">
            <div class="ariane_news"><a href="/">${_('Home')}</a> > <a href="/news/">${_('News')}</a> > <a href="" id="itemHref">${_('Item')}</a></div>
            <h1>${_(news.title)}</h1>
            <p class="summary">${HTML(news.summary)}</p>
            <p class="author_date"><span>${HTML(news.created.strftime("%d %B %Y"))}</span> <span>${_('by')}</span> <span>${HTML(news.author)}</span></p>
      </section>
      <div class="font-gris">
        <section class="container about" id="texts_news">
                <p class="news_picture"></p>
                <p class="news_content">${HTML(news.content)}</p>
              <div>
        </section>
      </div>
      %endif
        <!--
        <div class="back-link">
            <a href="${reverse('news')}">${_("Back to news")}</a>
        </div>
      -->
</main>
<script>
function image() {
  var img = $('.news_picture').css('background-image');
  if(img.indexOf('undefined') != -1) {
    $('.news_picture').hide();
  }
}
function translateDate(){
  $('.author_date').children('span').each(function(){
    var text = $(this).text();
    console.log(text);
    var replace = text.replace('On','Le');
    replace = replace.replace('by','par');
    if(text.indexOf('January') !=-1) {
      replace = replace.replace('January','Janvier');
    }else if(text.indexOf('March') !=-1) {
      replace = replace.replace('March','Mars');
    }else if(text.indexOf('April') !=-1) {
      replace = replace.replace('April','Avril');
    }else if(text.indexOf('May') !=-1) {
      replace = replace.replace('May','mai');
    }else if(text.indexOf('June') !=-1) {
      replace = replace.replace('June','juin');
    }else if(text.indexOf('July') !=-1) {
      replace = replace.replace('July','Juillet');
    }else if(text.indexOf('August') !=-1) {
      replace = replace.replace('August','Aout');
    }else if(text.indexOf('September') !=-1) {
      replace = replace.replace('September','Septembre');
    }else if(text.indexOf('October') !=-1) {
      replace = replace.replace('October','Octobre');
    }else if(text.indexOf('November') !=-1) {
      replace = replace.replace('November','Novembre');
    }else if(text.indexOf('December') !=-1) {
      replace = replace.replace('December','Décembre');
    }
    $(this).text(replace);
  })
}
var translate = '${_("hide-picture-english")}';
$(document).ready(function(){
  image();
  $('.summary').css('text-align','justify');
  $('h1').css('text-align','justify');
  if(translate != 'hide-picture-english')
    {translateDate();}
  $('#texts_news').find('p').each(function(){
    if(!$(this).hasClass('news_picture')){
      $(this).css('font-size','18px');
      $(this).css('margin-top','20px');
      $(this).css('margin-bottom','20px');
      $(this).css('line-height','24px');
      $(this).html($(this).html().replace(/&nbsp;/g, ''));
      if($(this).html() != '') {
        $(this).css('margin-bottom','10px');
      }
    }
      $(this).css('text-align','justify');
  })
  $('#texts_news').find('span').each(function(){
    $(this).css('font-size','18px');
    $(this).css('line-height','24px');
  })
})
$(window).resize(function(){
  image();
})
</script>
