<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<% style_overrides_file = static.get_value('css_overrides_file') %>
<%! from django.utils.translation import ugettext as _ %>
<link rel="stylesheet" type="text/css" href="${static.url('css/jquery.rateyo.css')}" />
<style>
.courses-container {
  max-width: 1440px;
  width: 93%;;
}
</style>
<section class="courses-container">
  <section class="highlighted-courses">
    <!--
    <LINK href="/static/css/courses.css" rel="stylesheet" type="text/css">
    -->
    <%block name="headextra">
      <link rel="stylesheet" type="text/css" href="${static.url('css/courses.css')}">
    </%block>
    <style>
    .courses-container .courses-more .courses-more-cta {
      display: none;
    }
    @media(max-width:768px) {
      .courses {
        height: 350px;
      }
    }
    @media(max-width:486px) {
      .courses{
        height: 500px;
      }
    }
    </style>
    <script>
    function Largeur(){
      if($(document).width() >= 1440) {
        console.log('largeur :'+$(document).width());
        $('.courses-listing-item').css('margin-left','10px');
        $('.courses-listing-item').css('margin-right','10px');
        $('.courses-listing-item:first-child').css('margin-left','6px');
        $('.courses-listing-item:first-child').css('margin-right','14px');
        $('.courses-listing-item:last-child').css('margin-right','6px');
        $('.courses-listing-item:last-child').css('margin-left','14px');
      }else{
        $('.courses-listing-item').attr('style','');
      }
    }
    $(document).ready(function(){
      Largeur();
    })
    $(window).resize(function(){
      Largeur();
    })
    </script>
    % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
      <section class="courses" style="padding-top:0px;">
        <ul class="courses-listing">
          ## limiting the course number by using HOMEPAGE_COURSE_MAX as the maximum number of courses
          <%
          settings.HOMEPAGE_COURSE_MAX = 3
          %>
          %for course in courses[:settings.HOMEPAGE_COURSE_MAX]:
          <li class="courses-listing-item">
              <%include file="course.html" args="course=course" />
          </li>
        %endfor
        </ul>
      </section>
    ## in case there are courses that are not shown on the homepage, a 'View all Courses' link should appear
      % if settings.HOMEPAGE_COURSE_MAX and len(courses) > settings.HOMEPAGE_COURSE_MAX:
      <div class="courses-more">
        <a class="courses-more-cta" href="${marketing_link('COURSES')}"> ${_("View all Courses")} </a>
      </div>
    % endif
    % endif

  </section>
</section>
% if settings.FEATURES.get('TMA_ENABLE_COURSE_RATING'):
  <script src="${static.url('js/jquery.rateyo.js')}"></script>
  <script>
    $(document).ready(function(){
      $("li.courses-listing-item article").each(function(){
        var course_id = $(this).attr("id");
        var rateSelector = $(this).find(".course-ratings")
        $.get({
          url: "/course_ratings_handler/" + course_id + "/",
          success: function(data) {
            var nAvgRate = data['avg_ratings'];
            var nReviews = data['total_reviews'];
            var nCanRate = data['can_rate'];
            lblReviews = 'Review';
            if(nReviews > 1) {
              lblReviews += "s"
            }
            // $("#total-reviews").text(String(nReviews)+" "+lblReviews);
            // $("#avg-rating-number").text(String(nAvgRate)+"/5");
            rateSelector.rateYo({
              rating: nAvgRate,
              halfStar: true,
              starWidth: "25px",
              readOnly: !nCanRate,
              onSet: function (rating, rateYoInstance) {
                $.post({
                  url: "/course_ratings_handler/" + course_id + "/",
                  data: {
                    'stars': rating,
                  },
                  success: function(data) {
                    nAvgRate = data['avg_ratings'];
                    nReviews = data['total_reviews'];
                    lblReviews = 'Review';
                    if(nReviews > 1) {
                      lblReviews += "s"
                    }
                    // $("#total-reviews").text(String(nReviews)+" "+lblReviews);
                    // $("#avg-rating-number").text(String(nAvgRate)+"/5");
                    rateSelector.rateYo("option", "readOnly", true);
                  }
                }); // POST
              }
            });  // RATEYO
          }
        }); // GET
      });  // EACH
    }); // READY
  </script>
% endif
