
<%namespace name='static' file='static_content.html'/>
<% style_overrides_file = static.get_value('css_overrides_file') %>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse

#import SSO test
import json
import requests
import hashlib
import datetime

now = datetime.datetime.now()

date = now.strftime("%d%m%Y")

api = 'xGXMdnyltTAHZMSHPZHg'
partenaire = 'CgFVrWdhuSVccijkVVwF'
email = 'amundi3.admin@vodeclic.com'
id_membre = 'amundi3.admin'
day = '08'
month = '09'
year = '2016'

crypt = hashlib.sha256(id_membre+api).hexdigest()

d = hashlib.sha256(date+api).hexdigest()

url = 'https://lms.vodeclic.com/api/sso?'

data_fr = 'partenaire='+partenaire+'&encrypted_id='+crypt+'&id='+id_membre+'&email='+email+'&d='+d+''

href_sso = url+data_fr
#fin import SSo
%>
<%page args="course" expression_filter="h"/>
<script>
//redimentionnement des images
function TailleImage(){
  $('.course-image').each(function(){
    var This = $(this).children().children('img');
    Taille = $(this)
    var Src = $(this).children().children('img').attr('src');
    var img = new Image();
    var tailleWidth = $(this).width();
    var tailleHeight = $(this).height();

    img.src = Src;
    var imgWidth = img.width;
    var imgHeight = img.height;
    var Org = Taille.data('org');
    console.log(Org);
    if(imgWidth < tailleWidth && imgHeight < tailleHeight && Org == 'Vodeclic')
    {
      marginTop = (tailleHeight - imgHeight)/2;
      marginLeft = (tailleWidth - imgWidth)/2;
      console.log(marginTop);
      This.css('width',imgWidth+'px');
      This.css('height',imgHeight+'px');
      This.css('padding-top',marginTop+'px');
      This.css('padding-bottom',marginTop+'px');
      This.css('padding-left',marginLeft+'px');
      This.css('padding-right',marginLeft+'px');
      This.css('background-color','#fff');
      Taille.css('background-color','#fff');
    }
  })
}
$(document).ready(function(){
  TailleImage();
  // creation du lien SHOW MORE DANS LES VIGNETTES
  $('article').each(function(){
        var Url = '${href_sso}'+'&vodeclic_id=';
        var num = $(this).data('number');
        var org = $(this).data('org');
       if(org == 'Vodeclic') {
        var Urls = Url+num;
        $(this).find('.learn-more').attr('href', Urls);
      }else{
        var Urls = $(this).attr('data-link');
        $(this).find('.learn-more').attr('href', Urls);
      }
  })
  // action au click sur la vignette dans Top course
  $('article').click(function(){
        var Url = '${href_sso}'+'&vodeclic_id=';
        var num = $(this).data('number');
        var org = $(this).data('org');
       if(org == 'Vodeclic') {
        var Urls = Url+num;
        $(location).attr('href', Urls);
      }else{
        var Urls = $(this).attr('data-link');
        $(location).attr('href', Urls);
      }
  })
})
$(window).resize(function(){
  TailleImage();
})

</script>
<!--
<LINK href="/static/css/course.css" rel="stylesheet" type="text/css">
-->
<%block name="headextra">
  <link rel="stylesheet" type="text/css" href="${static.url('css/course.css')}">
</%block>
  <article class="course" id="${course.id}" role="region" aria-label="${course.display_name_with_default}" data-link="${reverse('about_course', args=[course.id.to_deprecated_string()])}" data-number="${course.display_number_with_default}" data-org="${course.display_org_with_default}">
      <header class="course-image" data-org="${course.display_org_with_default}">
        <div class="cover-images">
          <img src="${course.course_image_url}" alt="${course.display_name_with_default} ${course.display_number_with_default}"  style="

          "/>
        </div>
      </header>
      <div class="course-info" aria-hidden="true">
        <h2 class="course-name">${course.display_name_with_default}
        </h2>
        <p style="text-align: center;width: 100%;" id="star-note">
          <img src="/static/themes/phileastheming/images/icon_star1.png">
          <img src="/static/themes/phileastheming/images/icon_star1.png">
          <img src="/static/themes/phileastheming/images/icon_star1.png">
          <img src="/static/themes/phileastheming/images/icon_star1.png">
          <img src="/static/themes/phileastheming/images/icon_star2.png">
        </p>
        <p style="text-align: center;width: 100%;">
          <img src="/static/themes/phileastheming/images/icon_acceslibre.png">
        </p>

    <a href="" class="learn-more" style="

    ">${_("SHOW MORE")}</a>
    </div>
  </article>
