
<%namespace name='static' file='static_content.html'/>
<% style_overrides_file = static.get_value('css_overrides_file') %>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from courseware.courses import get_course_about_section
from django.conf import settings
from edxmako.shortcuts import marketing_link
from openedx.core.lib.courses import course_image_url
from courseware.courses import get_course_by_id
from student.models import UserProfile
#import SSO test
import json
import requests
import hashlib
import datetime

%>

<%
lang = get_course_by_id(course.id).language
if lang == 'fr':
  language = 'FRA'
elif lang == 'en':
  language = 'ENG'
endif
%>
<%page args="course,user" expression_filter="h"/>
<%
now = datetime.datetime.now()

date = now.strftime("%d%m%Y")
datess = ("10102016")
api = 'uYUoVrzSEVityKwgNhHO'
partenaire = 'LIkptrpdXajmLaJTRHYF'
email = user.email
first_name = user.first_name
last_name = user.last_name
id_membre = UserProfile.objects.get(user_id=user.id).rpid
day = '08'
month = '09'
year = '2016'

crypt = hashlib.sha256(id_membre+api).hexdigest()

d = hashlib.sha256(date+api).hexdigest()
dada = hashlib.sha256(datess+api).hexdigest()
url = 'https://lms.vodeclic.com/api/sso?'

data_fr = 'partenaire='+partenaire+'&encrypted_id='+crypt+'&id='+id_membre+'&prenom='+first_name+'&nom='+last_name+'&email='+email+'&d='+d+''

href_sso = url+data_fr
#fin import SSo

test_url = ''

VodeclicClass = 'VodeclicClass'
%>
<style>
</style>
<script>
function Ajax() {
  (function() {
    $("article").click(function(event) {
      if($(this).data('org') == 'Vodeclic'){
        var Url = '${href_sso}'+'&vodeclic_id=';
        var num = $(this).data('number');
        var org = $(this).data('org');
        $(this).find("#class_enroll_form").submit();
        event.preventDefault();
        var Urls = Url+num;
        //$(location).attr('href', Urls);
        window.open(Urls);
      }
    });
  })(this)
}
//redimentionnement des images
function TailleImage(){
  $('.course-image').each(function(){
    var This = $(this).children().children('img');
    Taille = $(this)
    var Src = $(this).children().children('img').attr('src');
    var img = new Image();
    var tailleWidth = $(this).width();
    var tailleHeight = $(this).height();

    img.src = Src;
    var imgWidth = img.width;
    var imgHeight = img.height;
    var Org = Taille.data('org');
    if(imgWidth < tailleWidth && imgHeight < tailleHeight && Org == 'Vodeclic')
    {
      //$('.cover-images').children('img').attr('style','width: 187.5px;height:187.5px;background-color: #fff;display:block;margin-left:auto;margin-right:auto;')
    }
  })
}
function grille() {
  var doc = parseInt($(document).width());
  $('.course-image').children('.VodeclicClass').each(function(){
    var cible = $(this);
    var width = parseInt(cible.width());

    if(doc < 1440){
      cible.css('margin-left','-'+width/2+'px');
    }
  })
}
</script>
<!--
<LINK href="/static/css/course.css" rel="stylesheet" type="text/css">
-->
  <article class="course" id="${course.id}" role="region" aria-label="${course.display_name_with_default}" data-link="${reverse('about_course', args=[course.id.to_deprecated_string()])}" data-number="${course.display_number_with_default}" data-org="${course.display_org_with_default}">
      <header class="course-image" data-org="${course.display_org_with_default}">
        <div class="cover-images
        % if course.display_org_with_default == 'Vodeclic':
          ${VodeclicClass}
        % endif
        ">
          <div class="language">${language}</div>
          <img src="${course.course_image_url}" alt="${course.display_name_with_default} ${course.display_number_with_default}"  style="

          " />
        </div>
      </header>
      <div class="course-info" aria-hidden="true">
        <h2 class="course-name" style="font-family: 'helveticaneue-bold';text-transform: none;">${course.display_name_with_default}
        </h2>
        % if settings.FEATURES.get('TMA_ENABLE_COURSE_RATING'):
          <div class="course-ratings"></div>
        </p>
        % endif
        <p style="text-align: center;width: 100%;">
        % if course.manager_only:
          <img src="/static/themes/phileastheming/images/cle.png"><span style="font-family: 'helveticaneue';color: #808B93;letter-spacing: 0.8px;"> Accès réservé</span>
        % endif
        % if not course.manager_only:
          <img src="/static/themes/phileastheming/images/cle.png"><span style="font-family: 'helveticaneue';color: #808B93;letter-spacing: 0.8px;"> Accès libre</span>
        % endif
        </p>

    <a href="" class="learn-more" style="
      font-family: 'helveticaneue-bold';
    ">${_("SHOW MORE")}</a>
    </div>
    <div style="display: none;">
      <form id="class_enroll_form" method="post" data-remote="true" action="${reverse('change_enrollment')}" data-form="${course.id}">
        <fieldset class="enroll_fieldset">
          <legend class="sr">${_("Enroll")}</legend>
          <input name="course_id" type="hidden" value="${course.id | h}">
          <input name="enrollment_action" type="hidden" value="enroll">
        </fieldset>
        <div class="submit">
          <input name="submit" type="submit" value="${_('enroll')}"  syle="font-family: 'helveticaneue-bold';">
        </div>
      </form>
    </div>
  </article>
<script>
$(document).ready(function(){
  console.log('data_fr : ${data_fr}');
})
</script>
