<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<% style_overrides_file = static.get_value('css_overrides_file') %>
<%! from django.utils.translation import ugettext as _ %>
<%
from opaque_keys.edx.locations import SlashSeparatedCourseKey

from openedx.core.djangoapps.models.course_details import CourseDetails

from courseware.views.views import course_about

from courseware.courses import get_permission_for_course_about, get_course_with_access

permission = get_permission_for_course_about()

from edxmako.shortcuts import render_to_response

from xmodule.modulestore.django import modulestore
%>
<link rel="stylesheet" type="text/css" href="${static.url('css/jquery.rateyo.css')}" />
<style>
.courses-container {
  max-width: 1440px;
  width: 93%;
}
</style>
<section class="courses-container">
  <section class="highlighted-courses">
    <!--
    <LINK href="/static/css/courses.css" rel="stylesheet" type="text/css">
    -->
    <%block name="headextra">
      <link rel="stylesheet" type="text/css" href="${static.url('css/courses.css')}">
    </%block>
    <style>
    .courses-container .courses-more .courses-more-cta {
      display: none;
    }
    @media(max-width:768px) {
      .courses {
        height: 350px;
      }
      /* nav */
      .nav-courseware-01 input[type="text"] {
        margin-top: 0;
      }
      /* end nav */
    }
    @media(max-width:486px) {
      .courses{
        height: 500px;
      }
      .course-images, .course-image {
          height: 100px;
      }
      .courses-container {
        height: 1500px;
      }
    }
    @media screen and (max-width: 979px) and (min-width: 769px){
      .home .courses-container .courses .courses-listing .courses-listing-item:nth-child(3n+1) {
          clear: none;
      }
    }
    </style>
    <script>
    function Largeur(){
      if($(document).width() >= 1440) {
        $('.courses-listing-item').css('margin-left','10px');
        $('.courses-listing-item').css('margin-right','10px');
        $('.courses-listing-item:first-child').css('margin-left','6px');
        $('.courses-listing-item:first-child').css('margin-right','14px');
        $('.courses-listing-item:last-child').css('margin-right','6px');
        $('.courses-listing-item:last-child').css('margin-left','14px');
      }else{
        $('.courses-listing-item').attr('style','');
      }
    }
    $(document).ready(function(){
      Largeur();
    })
    $(window).resize(function(){
      Largeur();
    })
    </script>
    % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
      <section class="courses" style="padding-top:0px;">
        <ul class="courses-listing">
          ## limiting the course number by using HOMEPAGE_COURSE_MAX as the maximum number of courses
          <%
          settings.HOMEPAGE_COURSE_MAX = 3
          %>

          %for course in courses[:settings.HOMEPAGE_COURSE_MAX]:

            <link rel="stylesheet" type="text/css" href="${static.url('css/course.css')}">
          <style>
          .highlighted-courses .courses .course a {
            position: absolute;
          }
          .learn-more {
            margin-top: 0;
            position: absolute;
            bottom: 0;
          }
          .VodeclicClass img{
            width: 150px;
            height: 150px;
            background-color: #fff;
            margin-top: 18.75px;
            margin-bottom: 18.75px;
          }
          .VodeclicClass {
            max-width: 300px;
            margin-left: -150px;
            height: auto;
            left: 50%;
            background: linear-gradient(transparent 2px, rgba(105,105,105,0.2) 2px);
            background-size: 1px 3px;
          }
          .backgrounds {
            background: linear-gradient(transparent 2px, rgba(105,105,105,0.2) 2px);
            background-size: 1px 3px;
          }
          .language {
            position: absolute;
            z-index: 100000000;
            background-color: grey;
            color: #fff;
            font-size: 18px;
            padding: 2px;
            text-transform: uppercase;
          }
          .register {
            color: #fff;
          }
          .courses-container .courses .course .course-info p {
            margin-top: 6px;
          }
          .course-name {
            text-align: center;
            color: #555d68;
            font-size: 24px;
            font-family: 'helveticaneue-bold';
            width: 100%;
            height: auto;
            margin-top: -20px;
        }
        .courses-container .courses .course {
          position:relative;
        }
        .courses-container .courses .course .course-info {
          position: relative;
        }
        .courses-container .courses .course .course-info {
          height: 230px;
        }
        @media(max-width: 1280px) {
          .course-name {
            margin-top: 30px;
            margin-bottom: 0px;
          }
        }
        @media(max-width: 768px) {
          .course-name {
            margin-top: 0;
          }
        }
        @media(max-width:375px) {
          .course-name {
            margin-top: 60px;
          }
        }
          .courses-container .courses .course {
            background-color: #fff;
          }
          .jq-ry-container {
            margin-left: auto;
            margin-right: auto;
          }
          .jq-ry-container>.jq-ry-group-wrapper {
            position: absolute;
            top: 0;
            z-index: 10000000000;
          }
          .cover-images {
            height: auto;
          }
          @media(min-width: 1440px) {
            .find-courses .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item, .university-profile .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item, .home .courses-container .courses .courses-listing .courses-listing-item,.cover-images {
                  width: 426px;
            }
            .course-images, .course-image {
              height: 177.5px;
            }
          }
          @media(max-width: 1440px) {
            .course-images, .course-image {
              height: 177.5px;
            }
            .cover-images img {
              width: 300px;
              height: 187.5px;
            }
            .VodeclicClass img{
              width: 150px;
              height: 150px;
              background-color: #fff;
              margin-top: 18.75px;
              margin-bottom: 18.75px;
            }
          }
          @media(max-width:1280px) {
            .course-images, .course-image {
              height: 157.5px;
            }
          }
          @media(max-width:1020px) {
            .cover-images img {
                display: block;
                width: 28vw;
                height: 15vw;
                margin-left: auto;
                margin-right: auto;
            }
            .VodeclicClass img{
              width: 150px;
              height: 150px;
              background-color: #fff;
              margin-top: 18.75px;
              margin-bottom: 18.75px;
            }
          }
          @media(min-width:980px) {
            .home .courses-container .courses .courses-listing .courses-listing-item:nth-child(4n+1) {
              clear: none;
            }
          }
          @media (max-width: 486px) {
            .cover-images {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }
            .cover-images img {
                  width: 300px;
                  height: 187.5px;
              }
            .courses-container .courses .course .course-info {
              position: relative;
              height: 210px;
              background-color:#fff;
            }
            .cover-images img {
                display: inline;
                width: 90vw;
                height: 45vw;
                margin-left: 2.5vw;
                margin-right: 2.5vw;
            }
            .VodeclicClass img {
                width: 150px;
                height: 150px;
                background-color: #fff;
                margin-top: 18.75px;
                margin-bottom: 18.75px;
            }
          }
          @media(max-width: 414px) {
            .courses-container .courses .course .course-info p {
              padding-bottom: 5px;
              background-color: #fff;
            }
            /*
            .highlighted-courses .courses .course a {
              position: absolute;
              bottom: 0;
              display: none;
            }
            .jq-ry-container {
              display: none;
            }
            .home .courses-container .courses .courses-listing .courses-listing-item {
              height: 300px;
              background-color: #fff;
            }
            */
            .home .courses-container .courses .courses-listing .courses-listing-item {
              background-color: #fff;
            }
            .highlighted-courses .courses .course a {
              bottom: -20px;
            }
          }
          @media screen and (max-width: 768px) and (min-width: 486px) {
            .home .courses-container .courses .courses-listing .courses-listing-item:nth-child(2n) {
                 margin-right: 1.6vw;
            }
            .VodeclicClass img{
              width: 150px;
              height: 150px;
              background-color: #fff;
            }
          }
          @media(max-width:486px) {
            .VodeclicClass img{
              margin-left: auto;
              margin-right: auto;
              display: block;
            }
          }
          @media(max-width: 390px) {
            .course-images, .course-image {
                height: 150px;
            }
          }
          </style>
          <li class="courses-listing-item">
              <%include file="course.html" args="course=course,user=user" />
          </li>
        %endfor
        </ul>
      </section>
    ## in case there are courses that are not shown on the homepage, a 'View all Courses' link should appear
      % if settings.HOMEPAGE_COURSE_MAX and len(courses) > settings.HOMEPAGE_COURSE_MAX:
      <div class="courses-more">
        <a class="courses-more-cta" href="${marketing_link('COURSES')}"> ${_("View all Courses")} </a>
      </div>
    % endif
    % endif

  </section>
</section>
% if settings.FEATURES.get('TMA_ENABLE_COURSE_RATING'):
  <script src="${static.url('js/jquery.rateyo.js')}"></script>
  <script>
    $(document).ready(function(){
      $("li.courses-listing-item article").each(function(){
        var course_id = $(this).attr("id");
        var rateSelector = $(this).find(".course-ratings")
        $.get({
          url: "/course_ratings_handler/" + course_id + "/",
          success: function(data) {
            var nAvgRate = data['avg_ratings'];
            var nReviews = data['total_reviews'];
            var nCanRate = data['can_rate'];
            lblReviews = 'Review';
            if(nReviews > 1) {
              lblReviews += "s"
            }
            // $("#total-reviews").text(String(nReviews)+" "+lblReviews);
            // $("#avg-rating-number").text(String(nAvgRate)+"/5");
            rateSelector.rateYo({
              rating: nAvgRate,
              halfStar: true,
              starWidth: "25px",
              readOnly: !nCanRate,
              onSet: function (rating, rateYoInstance) {
                $.post({
                  url: "/course_ratings_handler/" + course_id + "/",
                  data: {
                    'stars': rating,
                  },
                  success: function(data) {
                    nAvgRate = data['avg_ratings'];
                    nReviews = data['total_reviews'];
                    lblReviews = 'Review';
                    if(nReviews > 1) {
                      lblReviews += "s"
                    }
                    // $("#total-reviews").text(String(nReviews)+" "+lblReviews);
                    // $("#avg-rating-number").text(String(nAvgRate)+"/5");
                    rateSelector.rateYo("option", "readOnly", true);
                  }
                }); // POST
              }
            });  // RATEYO
          }
        }); // GET
      });  // EACH
    }); // READY
  </script>
% endif
<script>
function lineH2() {
  $('.course-name').each(function(){
    This = $(this);
    var height = parseInt(This.height());
    var line = parseInt(This.css('line-height'));
    if(height > 50) {
      var css = '';
      var i = 0;
      for(i;i<height;i++) {
        var heights = parseInt(This.height());
        var lines = parseInt(This.css('line-height'));
        if(heights > 50) {
          if( lines > 24) {
            css = lines - 1;
            This.css('line-height',css+'px');
          }
        }else{
          i = height;
        }
      }
    }else{
      This.css('line-height',height+'px');
    }
  })
}
function heighth2() {
  var height = 56;
  var hauteur = 0;
  $('.course-name').css('height','auto');
  $('.course-name').each(function(){
    hauteur = $(this).height();
    hauteur = parseInt(hauteur);
    if(hauteur > height) {
      height = hauteur;
    }
  })
  $('.course-name').css('height',height+'px');
}
function heightcover() {
  var height = 0;
  var top = 0;
  $('.cover-images').each(function(){
    var hauteur = $(this).height();
    var Top = $(this).css('top');
    hauteur = parseInt(hauteur);
    Top = parseInt(Top);
    if(hauteur > height) {
      height = hauteur;
    }
    if(Top < top) {
      top = Top;
    }
  })
  height = height + (top/2);
  $('.course-image').css('height',height+'px');
}
function languagePos(){
  $('.language').each(function(){
    var heightParent = $(this).parent().height();
    heightParent = parseInt(heightParent);
    var height = $(this).height();
    height = parseInt(height);
    var paddingTop = $(this).css('padding-top');
    paddingTop = parseInt(paddingTop);
    var paddingBottom = $(this).css('padding-bottom');
    paddingBottom = parseInt(paddingBottom);
    var top = heightParent - height - paddingTop - paddingBottom -1;
    $(this).css('top',top+'px');
  })
}
 function imageFont() {
   $('.cover-images').each(function(){
     This = $(this);
     Img = This.find('img');
     width = parseInt(Img.width());
     height = parseInt(Img.height());
     left = parseInt(Img.css('margin-left'));
     if(!This.hasClass("VodeclicClass")) {
        This.find('.language').css('left',left+'px');
       if(width < 300) {
         This.addClass('backgrounds');
         padding = (187.5 - height)/2;
         Img.css('padding-top',padding+'px');
         Img.css('padding-bottom',padding+'px');
       }else{
         This.removeClass('backgrounds');
         Img.attr('style','');
       }
     }
   })
 }
$(document).on('DOMNodeInserted', function(e) {
    if ($(e.target).find('.course-name')) {
      heighth2();
    }
})
$(document).ready(function(){
  //TailleImage();
  Ajax();
  grille();
  lineH2();
  imageFont();
  languagePos();
  $('li').css('clear','none');
  // creation du lien SHOW MORE DANS LES VIGNETTES
  $('article').each(function(){
        var org = $(this).data('org');
       if(org == 'Vodeclic') {
        $(this).addClass('register');
        $(this).find('.learn-more').addClass('register');
        $(this).find('.learn-more').css('color','#fff');
      }else{
        var Urls = $(this).attr('data-link');
        $(this).find('.learn-more').attr('href', Urls);
      }
  })
})
$(window).resize(function(){
  TailleImage();
  grille();
  lineH2();
  heighth2();
  imageFont();
  languagePos();
  $('li').css('clear','none');
})
</script>
