<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<% style_overrides_file = static.get_value('css_overrides_file') %>
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
from django.template import RequestContext
import third_party_auth
from third_party_auth import pipeline
from openedx.core.djangoapps.user_api.accounts.image_helpers import get_profile_image_urls_for_user
from django.db import connection
from django.db import models
from opaque_keys.edx.locations import SlashSeparatedCourseKey
%>

<%
  cert_name_short = settings.CERT_NAME_SHORT
  cert_name_long = settings.CERT_NAME_LONG
%>

<%
import pprint

test = pprint.pprint(get_my_course_progress)

from django.db.models import Count
from course_welcome.purple import get_final_score
from courseware import grades
from course_progress.models import StudentCourseProgress
from util.db import outer_atomic
import requests

student = request.user

all_courses = StudentCourseProgress.objects.filter(student_id = student,).values('course_id')

courses_id = []
courselength = ""
i = 0

for (i, item) in enumerate(all_courses):
  courses_id.insert(i, SlashSeparatedCourseKey.from_deprecated_string(item.get('course_id')))
  courselength = i

grade_summary = {}
final_grade = []

j = 0

#final_grade = get_final_score(request,courses_id[1])
#with outer_atomic():
  #grade_summary = grades.grade(student, request, courses_id[0])
#final_grade = grade_summary.get('percent', 60)

"""

"""

%>

<!-- GEOFFREY -->
<%
language = LANGUAGE_CODE
vodeclic_stat = ''
if 'fr' in language:
  vodeclic_stat = '(Hors Vodeclic)'
else:
  vodeclic_stat = '(Without Vodeclic)'
%>
<%block name="pagetitle">${_("Dashboard")}</%block>
<%block name="bodyclass">view-dashboard is-authenticated</%block>
<!--
<%block name="nav_skip">#my-courses</%block>
-->
<%block name="header_extras">
% for template_name in ["donation"]:
<script type="text/template" id="${template_name}-tpl">
  <%static:include path="dashboard/${template_name}.underscore" />
</script>
% endfor

% for template_name in ["dashboard_search_item", "dashboard_search_results", "search_loading", "search_error"]:
<script type="text/template" id="${template_name}-tpl">
    <%static:include path="search/${template_name}.underscore" />
</script>
% endfor
</%block>

<%block name="js_extra">
  <script src="${static.url('js/commerce/credit.js')}"></script>
  <%static:js group='dashboard'/>
  <script type="text/javascript">
  function ajaxCallFinalGrade() {
    var number = 0;
    $('.course-item').each(function(){
      var This = $(this);
      var id = This.find('.dash-img').data('course-key');
      $.ajax({
        url:'/final_grades/'+id,
        type:'GET',
        dataType: 'json',
        success:function(result) {
          length = length + 1;
          grade = result.Grade
          if(grade >= 0.6) {
            number = number + 1;
          }
          $('.formation_reussit').find('.nonbre_indic').html(number);
          aligneCours();
        }
      })
    })
  }
    $(document).ready(function() {
      ajaxCallFinalGrade();
      edx.dashboard.legacy.init({
        dashboard: "${reverse('dashboard')}",
        signInUser: "${reverse('signin_user')}",
        changeEmailSettings: "${reverse('change_email_settings')}"
      });
    });
    $(document).ready(function(){
      $('#sub-menu-low-rez').click(function(){
        $('#profile-sidebar').toggle();
      })
    })
    $(window).resize(function(){
      if(parseInt($(document).width()) > 768) {
        if($('#profile-sidebar').hide()) {
          $('#profile-sidebar').show();
        }
      }else{
        if($('#profile-sidebar').show()) {
          $('#profile-sidebar').hide();
        }
      }
    })
  </script>
  % if settings.FEATURES.get('ENABLE_DASHBOARD_SEARCH'):
    <%static:require_module module_name="js/search/dashboard/dashboard_search_factory" class_name="DashboardSearchFactory">
        DashboardSearchFactory();
    </%static:require_module>
  % endif
  % if redirect_message:
    <%static:require_module module_name="js/views/message_banner" class_name="MessageBannerView">
        var banner = new MessageBannerView({urgency: 'low', type: 'warning'});
        $('#content').prepend(banner.$el);
        banner.showMessage(${redirect_message | n, dump_js_escaped_json})
    </%static:require_module>
  % endif
</%block>
<!--
<LINK href="/static/css/dashboard.css"  rel="stylesheet" type="text/css">
-->
<%namespace name='static' file='static_content.html'/>
<%block name="headextra">
  <link rel="stylesheet" type="text/css" href="${static.url('css/dashboard.css')}">
</%block>
<div class="up_dashboard">
  <div style="
  padding-bottom: 20px;
  height: 14px;
  ">
    <a href="/" style="
    color: #3D4857;
    font-size: 15px;
    font-family: 'helveticaneue';
    text-decoration:none;
    letter-spacing: 1.2px;
    ">${_("Home")}</a> &gt; <a href="/dashboard" style="
      color: #3D4857;
      font-size: 15px;
      font-family: 'helveticaneue';
      text-decoration: none;
      letter-spacing: 1.2px;
    ">${_("My courses")}  </a>
  </div>
  <header class="wrapper-header-courses" style="height: 50px;">
    <h2 class="header-courses">${_("My courses")}</h2>
  </header>
</div>
<div class="sub-menu-low-rez">
  <button id="sub-menu-low-rez"><img src="/static/themes/phileastheming/images/chrono.png" /><span> ${_("Mes stats")}</span></button>
</div>
<div class="dashboard-englobe">
  <section class="dashboard" id="dashboard-main">
    <section class="profile-sidebar" id="profile-sidebar" role="region" aria-label="Account Status Info">
      <header class="profile">
        <h2 class="account-status-title sr">${_("Account Status Info")}: </h2>
      </header>
      <!-- -->
      <section class="user-info">
        <ul>
          <li class="primary">
              <%
              username = user.username
              profile_image_url = get_profile_image_urls_for_user(user)['medium']
              %>
              % if 'default' in profile_image_url:
              <img class="user-image-frame" src="/static/themes/phileastheming/images/profiles/default_120.png" alt="${_('Profile image for {username}').format(username=username)}">
              % else:
              <img class="user-image-frame" src="${profile_image_url}" alt="${_('Profile image for {username}').format(username=username)}">
              % endif
              <div class="label-username">${username}</div>
            <!--  <div class="label-other">${username}</div> -->
          </li>
          <li class="primary">
            <div class="formation_en_cours">
              <span class="nonbre_indic">
                ${(len(course_enrollments))}
              </span>${_("courses in progress")}
            </div>
            <div class="formation_reussit">
              <span class="nonbre_indic"></span>${_("courses succeed")}
            </div>
          </li>
          <li class="primary">
            <a href="/u/${username}">${_("show my profile")}</a>
            <a href="/courses">${_("consult courses")}</a>
          </li>
        </ul>
      </section>
    </section>
    <!-- -->
    <!-- -->
    <!-- -->
    <!-- -->
    <section class="my-courses" id="my-courses" role="main" tabindex="-1">
        <link rel="stylesheet" type="text/css" href="${static.url('css/dashboard-courses.css')}">
      % if len(course_enrollments) > 0:
        <ul class="listing-courses">
        <% share_settings = getattr(settings, 'SOCIAL_SHARING_SETTINGS', {}) %>
        % for dashboard_index, enrollment in enumerate(course_enrollments):
          <% show_courseware_link = (enrollment.course_id in show_courseware_links_for) %>
          <% cert_status = cert_statuses.get(enrollment.course_id) %>
          <% can_unenroll = (not cert_status) or cert_status.get('can_unenroll') %>
          <% credit_status = credit_statuses.get(enrollment.course_id) %>
          <% show_email_settings = (enrollment.course_id in show_email_settings_for) %>
          <% course_mode_info = all_course_modes.get(enrollment.course_id) %>
          <% show_refund_option = (enrollment.course_id in show_refund_option_for) %>
          <% is_paid_course = (enrollment.course_id in enrolled_courses_either_paid) %>
          <% is_course_blocked = (enrollment.course_id in block_courses) %>
          <% course_verification_status = verification_status_by_course.get(enrollment.course_id, {}) %>
          <% course_requirements = courses_requirements_not_met.get(enrollment.course_id) %>
          <% course_program_info = course_programs.get(unicode(enrollment.course_id)) %>
          <%include file = 'dashboard/_dashboard_course_listing.html' args="href_sso=href_sso,course_overview=enrollment.course_overview, enrollment=enrollment, show_courseware_link=show_courseware_link, cert_status=cert_status, can_unenroll=can_unenroll, credit_status=credit_status, show_email_settings=show_email_settings, course_mode_info=course_mode_info, show_refund_option=show_refund_option, is_paid_course=is_paid_course, is_course_blocked=is_course_blocked, verification_status=course_verification_status, course_requirements=course_requirements, dashboard_index=dashboard_index, share_settings=share_settings, user=user, course_program_info=course_program_info" />
        % endfor

        </ul>
      % else:
        <section class="empty-dashboard-message">
          <p>${_("Looks like you haven't enrolled in any courses yet.")}</p>

          % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
            <a href="${marketing_link('COURSES')}">
              ${_("Browse courses")}
            </a>
          %endif
        </section>
      % endif

      % if staff_access and len(errored_courses) > 0:
        <div id="course-errors">
          <h2>${_("Course-loading errors")}</h2>

        % for course_dir, errors in errored_courses.items():
           <h3>${course_dir}</h3>
               <ul>
             % for (msg, err) in errors:
                 <li>${msg}
                   <ul><li><pre>${err}</pre></li></ul>
                 </li>
             % endfor
               </ul>
        % endfor
        </div>
      % endif
    </section>
    <!--
    % if settings.FEATURES.get('ENABLE_DASHBOARD_SEARCH'):
      <div id="dashboard-search-bar" class="search-bar dashboard-search-bar" role="search" aria-label="Dashboard">
        <form>
          <label for="dashboard-search-input">${_('Search Your Courses')}</label>
          <div class="search-field-wrapper">
            <input id="dashboard-search-input" type="text" class="search-field"/>
            <button type="submit" class="search-button" aria-label="${_('Search')}">
              <i class="icon fa fa-search" aria-hidden="true"></i>
            </button>
            <button type="button" class="cancel-button" aria-label="${_('Clear search')}">
              <i class="icon fa fa-remove" aria-hidden="true"></i>
            </button>
          </div>
        </form>
      </div>
    % endif

    % if settings.FEATURES.get('ENABLE_DASHBOARD_SEARCH'):
      <section id="dashboard-search-results" class="search-results dashboard-search-results"></section>
    % endif
    % if xseries_credentials:
      <div class="wrapper-xseries-certificates">
        <p class="title">${_("XSeries Program Certificates")}</p>
        <p class="copy">${_("You have received a certificate for the following XSeries programs:")}</p>
        <ul>
        % for xseries_credential in xseries_credentials:
          <li>
            <a class="copy" href="${xseries_credential['credential_url']}">${xseries_credential['display_name']}</a>
          </li>
        % endfor
        </ul>
      </div>
    % endif
  -->
  </section>
</div>

<section id="email-settings-modal" class="modal" aria-hidden="true">
  <div class="inner-wrapper" role="dialog" aria-labelledby="email-settings-title">
    <button class="close-modal">
      <i class="icon fa fa-remove"></i>
      <span class="sr">
        ## Translators: this is a control to allow users to exit out of this modal interface (a menu or piece of UI that takes the full focus of the screen)
        ${_("Close")}
      </span>
    </button>

    <header>
      <h2 id="email-settings-title">
        ${_("Email Settings for {course_number}").format(course_number='<span id="email_settings_course_number"></span>')}
        <span class="sr">,
          ## Translators: this text gives status on if the modal interface (a menu or piece of UI that takes the full focus of the screen) is open or not
          ${_("window open")}
        </span>
      </h2>
      <hr/>
    </header>

    <form id="email_settings_form" method="post">
      <input name="course_id" id="email_settings_course_id" type="hidden" />
      <label>${_("Receive course emails")} <input type="checkbox" id="receive_emails" name="receive_emails" /></label>
      <div class="submit">
        <input type="submit" id="submit" value="${_("Save Settings")}" />
      </div>
    </form>
  </div>
</section>
<!-- -->
<!-- -->
<!-- -->
<!-- -->
<section id="unenroll-modal" class="modal unenroll-modal" aria-hidden="true">
  <div class="inner-wrapper" role="dialog" aria-labelledby="unenrollment-modal-title">
    <button class="close-modal">
      <i class="icon fa fa-remove"></i>
      <span class="sr">
        ## Translators: this is a control to allow users to exit out of this modal interface (a menu or piece of UI that takes the full focus of the screen)
        ${_("Close")}
      </span>
    </button>

    <header>
      <h2 id="unenrollment-modal-title">
        <span id='track-info'></span>
        <span id='refund-info'></span>
        <span class="sr">,
          ## Translators: this text gives status on if the modal interface (a menu or piece of UI that takes the full focus of the screen) is open or not
          ${_("window open")}
        </span>
      </h2>
      <hr/>
    </header>
    <div id="unenroll_error" class="modal-form-error"></div>
    <form id="unenroll_form" method="post" data-remote="true" action="${reverse('change_enrollment')}">
      <input name="course_id" id="unenroll_course_id" type="hidden" />
      <input name="enrollment_action" type="hidden" value="unenroll" />
      <div class="submit">
        <input name="submit" type="submit" value="${_("Unenroll")}" />
      </div>
    </form>
  </div>
</section>
<script>
  function aligneCours() {
    var Cc = parseInt($('.formation_en_cours').find('.nonbre_indic').width());
    var ct = parseInt($('.formation_reussit').find('.nonbre_indic').width());
    if(Cc > ct) {
      marge = Cc - ct;
      $('.formation_reussit').find('.nonbre_indic').css('margin-left',marge+'px');
    }else if(ct > Cc) {
      marge = ct - Cc;
      $('.formation_en_cours').find('.nonbre_indic').css('margin-left',marge+'px');
    }
  }
  function changeResolutionImage() {
    var src = $('.user-image-frame').attr('src');
    var replace = src.replace('_50','_120');
    $('.user-image-frame').attr('src',replace);
  }
  function tradDes(){
    var test = '${_("trainings")}';
    $('.action-unenroll').click(function(){
      var interval = setInterval(function(){
        if($('.unenroll-modal').find('#track-info').text() != ''){
          var info = $('.unenroll-modal').find('#track-info').text();
          var replace = info.replace(/\(.[^(]*\)/g,'');
          if(test.indexOf('trainings') != -1) {
            $('.unenroll-modal').find('#track-info').text(replace);
            clearInterval(interval);
          }else{
            replace = replace.replace('Are you sure you want to unenroll from','Voulez-vous vous désinscrire de');
            $('.unenroll-modal').find('#track-info').text(replace);
          clearInterval(interval);
          }
        }
      },10)
    })
  }
  function nombreReussit() {
    var nombre_reussit = 0;
    $('.course-container').each(function(){
      var This = $(this);
      var id = This.data('id');
      $.ajax({
        type: "POST",
        url: '/search/course_discovery/',
        data:{
          id:id,
        },
        dataType: 'json',
        success: function(data) {
          nombre_reussit = nombre_reussit + 1;
        }
      })
    })
  }
  function imageNo(){
    $('.noImageVodeclick').each(function(){
      var This = $(this);
      var widthThis = parseInt(This.width());
      var Img = This.find('img');
      var width = parseInt(Img.width());
      var height = parseInt(Img.height());
      var paddingLeft = 0;
      var paddingTop = 0;
      if(width < widthThis) {
        paddingLeft = (widthThis - width)/2;
        This.css('background','linear-gradient(transparent 2px, rgba(105,105,105,0.2) 2px)');
        This.css('background-size','1px 3px');
      }else{
        paddingLeft = 0;
      }
      if(height < 187.5) {
        paddingTop = (187.5 - height)/2;
        This.css('background','linear-gradient(transparent 2px, rgba(105,105,105,0.2) 2px)');
        This.css('background-size','1px 3px');
      }else{
        paddingTop = 0;
      }
      Img.css('padding-left',paddingLeft+'px');
      Img.css('padding-right',paddingLeft+'px');
      Img.css('padding-top',paddingTop+'px');
      Img.css('padding-bottom',paddingTop+'px');
    })
  }
  $(document).ready(function(){
    changeResolutionImage();
    aligneCours();
    tradDes();
    nombreReussit();
    imageNo();
  })
  $(window).resize(function(){
    imageNo();
  })
</script>

% if language == 'fr':
<script>
function translateDate() {
  $('.start_end_date_time').each(function(){
    var This = $(this);
    var text = This.text();
    if(text.indexOf(',') != -1){
      var search = text.split(/,(.+)?/)[0];
      var year = text.split(/,(.+)?/)[1];
      var int = search.match(/\d+/)[0]
      var str = search.replace(int,'');
      var str = str.replace(' ','');
      var int = int.replace(' ','');
      var year = year.replace(' ','');
      var retour = int+' '+str+','+year;
      This.text(retour);
    }
  })
}
$(document).ready(function(){
  translateDate();
  console.log('${courses_id}');
})
</script>
% endif
