.highlighted-courses .courses .course, .find-courses .courses .course {
  border: none;
}
.find-courses .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item {
  margin-left: 5px;
  margin-right: 5px;
}
.course {
    border-bottom: none;
    box-shadow: none;
}
.course-images,.course-image {
  margin-right: auto;
  margin-left: auto;
  height: 200px;
}
.courses-container .courses .course {
  border-bottom: none;
  box-shadow: none;
}
.cover-images {
  width: 100%;
  height: 100%;
  width: 390px;
  position: absolute;
  z-index: 10;
  top: -40px;
}
.cover-images img {
  display: block;
  width: 300px;
  height: 187.5px;
  margin-left: auto;
  margin-right: auto;
}
.course-name {
  text-align: center;
  color: #555d68;
  font-size: 24px;
  font-family: 'helveticaneue-bold';
  width: 100%;
  margin-top: -20px;
}
.learn-more {
  display: block;
  width: 100%;
  color: #fff;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  height: 59px;
  line-height: 59px;
  background-color: #009de0;
  position: absolute;
  z-index: 10;
  bottom: 0;
  font-size: 14px;
  font-family: 'helveticaneue-bold';
}
.find-courses .courses-container .courses.no-course-discovery, .university-profile .courses-container .courses.no-course-discovery {
  padding-right: 300px;
  min-width: calc(100% - 300px);
  width: calc(100% - 300px);
}
@media(max-width:1440px) {
  .cover-images {
    width: 30vw;
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media(max-width:1440px) {
  .cover-images img {
    display: block;
    width: 28vw;
    height: 15vw;
    margin-left: auto;
    margin-right: auto;
  }
  .course-images,.course-image {
    height: 15vw;
  }
}
@media(min-width:980px) {
  .find-courses .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item:nth-child(4n+1) {
    clear:none;
  }
}
@media(max-width: 786px) {
  #star-note {
    display: none;
  }
  #table_search {
    width: 96%;
    right: 2%;
    left: 2%;
  }
  .course-name {
    font-size: 20px;
    height: 60px;
  }
  .learn-more {
    margin-top: 53px;
  }
  .find-courses .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item:nth-child(2n+1), .university-profile .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item:nth-child(2n+1) {
    float: left;
    clear: none;
  }
}
@media(max-width: 768px) {
  .find-courses .courses-container .courses.no-course-discovery, .university-profile .courses-container .courses.no-course-discovery {
    width: 100%;
    min-width: 100%;
    margin-top: 300px;
    padding-right: 0px;
  }
  .find-courses .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item:nth-child(2n+1), .university-profile .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item:nth-child(2n+1) {
    margin-left: 3%;
  }
  .courses-down-up, .find-courses .wrapper-search-context .search-status-label {
    width: auto;
  }
}

@media screen and (max-width: 540px) and (min-width: 321px){
.find-courses .wrapper-search-context .wrapper-search-input {
  width: auto;
}
}
@media(max-width: 638px) {
  .course-name {
    font-size: 18px;
    height: 54px;
  }
  .courses-listing li {
    float: left;
  }
}
@media(max-width: 568px) {
  .course-name {
    font-size: 15px;
    height: 60px;
  }
}
@media(max-width:486px) {
  .learn-more {
    display: none;
  }
    .cover-images {
      width: 90vw;
      margin-left: auto;
      margin-right: auto;
    }
    .cover-images img {
      display: inline;
      width: 90vw;
      height: 45vw;
      margin-left: 2.5vw;
      margin-right: 2.5vw;
    }
    .course-images,.course-image {
      height: 45vw;
    }
    /*
    .highlighted-courses .courses .course a, .find-courses .courses .course a {
      display: none;
    }
    */
    .liens_oust{
      display: none;
    }
    .courses-container .courses .course .course-info {
      height: 100px;
    }
    .courses-container .courses .course {
      height: 70vw;
    }
    .find-courses .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item, .university-profile .courses-container .courses.no-course-discovery .courses-listing .courses-listing-item {
      height: 70vw;
    }
    .nav-courseware-01 input[type="text"] {
      width: 150px;
    }
}
@media(max-width:309px) {
  .courses-container .courses .course {
    height: 75vw;
  }
}
/*
@media(max-width: 1180px) {
  .cover-images img {
    display: block;
    width: 250px;
    height: 156.25px;
    margin-left: auto;
    margin-right: auto;
  }
  .cover-images {
    width: 270px;
  }
  .course-images {
    height: 125px;
  }
}

@media(max-width: 768px){
  .cover-images img {
    display: block;
    width: 236px;
    height: 145px;
  }
}
*/
