
.wrapper-footer {
  padding-top: 0;
}
.details {
  position: relative;
}
.dashboard .my-courses .course .details .wrapper-course-image {
  width: 50%;
  margin-right: 0px;
}
.dashboard .my-courses .course .details .wrapper-course-details {
  width: 50%;
}
.wrapper-course-image img {
  width: 320px;
  height: 200px;
  display: block;
}
.wrapper-action-more {
  width: calc(100% - 280px);
  clear: left;
  position: absolute;
  bottom: 20px;;
  z-index: 10;
}
.course-actions {
  height: 65px;
}
.actions-item a {
  display: block;
  float: left;
  margin-right: 15px;
  color: #445561;
  font-size: 14px;
  font-family:"helveticaneue-light";
  margin-top: 56px;
}
.action-item a img {

}
.actions-item a:first-child {
  margin-right: 15px;
}
.dashboard .my-courses .course .details .course-info,.course-info {
  width: 100%;
}
.dashboard .my-courses .course .details .course-title a, .dashboard .my-courses .course .details .course-title span {
  color: #363F4D;
  font-size: 24px;
  letter-spacing: 1.7px;
  font-family: 'helveticaneue-bold';
}
.dash-img {
  width: 320px;
  max-height: 200px;
  height: 200px;
  float: left;
  display: block;
  margin-top: -38px;
  border: none;
  box-shadow: none;
}
.dash-img a {
  width: 320px;
  max-height: 200px;
  height: 200px;
  float: left;
  display: block;
  margin-top: -78px;
}
.consulter-dash {

  margin-top: 80px;
}

#course-info-pop2,#counsulter1,.social2-on,.button-option {
  display: none;
}
.dashboard .my-courses .course .details .enter-course{
  line-height: 64px;
  vertical-align: middle;
  text-align: center;
  background-color: #09a0e0;
  color: #fff;
  bottom:0;
  right:0;
  z-index: 10;
  width: 285px;
  height: 64px;
  border: none;
  letter-spacing: 1.7px;
  margin: 0px;
  padding: 0px;
  text-transform:uppercase;
  font-family: 'helveticaneue-bold';
  font-size: 14px;
  border-radius: 0px;
}
.dashboard .my-courses .course .details .wrapper-course-image .cover, .dashboard .my-courses .course .details .wrapper-course-image a.fade-cover  {
    height: 200px;
    max-height:235px;
  }
  .dashboard .my-courses .course .details .enter-course {
    margin-top: 50px;
  }
@media(max-width:1192px) {
.dashboard .my-courses .course .details .wrapper-course-image .cover, .dashboard .my-courses .course .details .wrapper-course-image a.fade-cover  {
    height: 200px;
    max-height:500px;
  }
  .dashboard .my-courses .course .details .enter-course {
    margin-top: 0px;
  }
  .social-sharing a,.actions-item a {
    margin-top: 5px;
  }
  .wrapper-action-more {
    width: 60%;
    clear: left;
    position: absolute;
    bottom: 3px;
    z-index: 10;
  }
}
@media(max-width:1018px) {
  .dashboard .my-courses .course .details .wrapper-course-image .cover, .dashboard .my-courses .course .details .wrapper-course-image a.fade-cover  {
      max-height:120px;
    }
  .dash-img,.dash-img a {
    margin-top: 0;
    width: 230px;
    height:128px;
  }
  .wrapper-course-image img {
    width: 230px;
    height: 120px;
  }
  .course-actions {
    height: 65px;
  }
.dashboard .my-courses .course .details .course-title a, .dashboard .my-courses .course .details .course-title span {
  font-size: 16px;
  line-height: 28px;
}
  .wrapper-course-actions {
    height: 63px;
  }
  .actions-item a {
    margin-right: 5px;
    font-size: 14px;
    margin-top: 3px;
  }
  .consulter-dash {
    margin-top: 0px;
  }
  .profile-sidebar a, #profile-sidebar a {
    width: calc(100% - 8px);
    font-size: 12px;
  }
}
@media(max-width: 825px) {
  .social-sharing a {
    margin-right: 2px;
    font-size: 10px;
  }
}
@media(max-width:768px) {
  .dash-img,.dash-img a {
    margin-top: 0;
    width: 230px;
    height:128px;
  }
  .wrapper-course-image img {
    width: 230px;
    height: 120px;
  }
  .course-actions {
    height: 20px;
  }
.dashboard .my-courses .course .details .course-title a, .dashboard .my-courses .course .details .course-title span {
  font-size: 16px;
  line-height: 28px;
}
  .wrapper-course-actions {
    height: 63px;
  }
  .actions-item a {
    margin-right: 5px;
    font-size: 14px;
    margin-top: 3px;
  }
  .consulter-dash {
    margin-top: 0px;
  }
  .profile-sidebar a, #profile-sidebar a {
    width: calc(100% - 8px);
    font-size: 12px;
  }
  .button-option-action,.button-option-action:focus:not(:disabled),.button-option-action:hover:not(:disabled) {
    margin:0px;
    box-shadow: none;
    text-shadow: none;
    border:none;
    border-radius: none;
    background-image: none;
    background-color: transparent;
    color: #000;
    text-transform:none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    display: block;
    outline: none;
  }
}
  @media(max-width:563px) {
    #social1-on,#course-info-pop1,#text-compl {
      display: none;
    }
    .button-option {
      display: block;
      width: 100%;
    }
    #course-info-pop2 {
      display: block;
      text-align: center;
    }
    ..dashboard .my-courses .listing-courses .course-item .course-container {
      width: 92%;
      margin-left: 4%;
      margin-right: 4%;
    }
    .course-title {
      text-align: center;
    }
    .dashboard .my-courses .course .details .wrapper-course-image .cover, .dashboard .my-courses .course .details .wrapper-course-image a.fade-cover {
      width: 90vw;
      margin-left: 5vw;
      margin-right: 5vw;
      height: 50vw;
      max-height: 50vw;
    }
    .dashboard .my-courses .course .details .wrapper-course-image a img {
      width: 100%;
      height: 100%;
    }
    .course {
      padding-left: 0;
      width: 96%;
      margin-left: 2%;
      margin-right: 2%;
    }
    .dashboard .my-courses .course .details .wrapper-course-image {
      width: 100%;
      margin-right: 0px;
    }
    .dashboard .my-courses .course .details .wrapper-course-details {
      width: 100%;
    }
    .dash-img,.dash-img a {
      margin-top: 0;
      width: 90%;
      margin-left: 5%;
      margin-right: 5% ;

    }
    .course-actions {
        width:100%;
    }
    #counsulter1 {
      display: none;
    }
    #counsulter2 {
      display: block;
      clear: right;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
    }
    .dashboard .my-courses .course .details .enter-course {
      float: none;
    }
    .actions-item a:first-child,.actions-item a:last-child {
      width: 40%;
      margin-left: 5%;
      margin-right: 5%;
    }
    .dashboard .my-courses .course .details .course-info {
      padding-bottom: 8px;
      margin-bottom: 8px;
      border-bottom: 1px solid black;
    }
    /*
    .actions-item a:last-child {
      width: 30%;
      margin-left: 15%;
      margin-right: 5%;
      text-align: center;
    }
    */
    #counsulter2 .course-actions a {
      position: relative;
      width: 284px;
      margin-left: calc(50% - 142px);
      margin-right: calc(50% - 142px);
    }
  }
