#global-navigation {
  display: none;
}
.login-register{
  background-color: transparent;
}
#login-anchor,.view-login .container {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -240px;
  z-index: 10;
  max-height: 427px;
  min-height: 427px;
  height: 427px;
  max-width: 480px;
  min-width: 480px;
  width: 480px;
  padding: 0;
}
.login-register .section-title.lines .text {
  padding: 0px;
}
#login-anchor .content,.view-login .container {
  width: 100%;
  margin: 0;
}
.login-register form, .financial-assistance-wrapper .financial-assistance-form form, .login-register .wrapper-other-login, .financial-assistance-wrapper .financial-assistance-form .wrapper-other-login {
  background-color: #fff;
}
.login form .field.required label, .register form .field.required label, .passwordreset form .field.required label, #forgot-password-modal #password-reset form .field.required label  {
  display: none;
}
.content-wrapper {
  height: calc(100vh - 115px);
  background-color: grey;
  width: 100%;
}
.view-login .introduction. {
  margin:0;
  padding: 0;
  background-color: transparent;
  width: 100%;
}
.view-login .introduction header {
  width: 100%;
  padding: 0;
  background-image: none;
  background-color: transparent;
  text-align: right;
}
.view-login .introduction header a{
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  display: inline-block;
  margin-top: 30px;
  margin-right: 30px;
  width: 154px;
  height: 38px;
  line-height: 43px;
  vertical-align:middle;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'helveticaneue-medium';
}
.view-login .introduction header a:hover{
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
}
.login form .field, .register form .field, .passwordreset form .field, #forgot-password-modal #password-reset form .field {
  width: 400px;
  height: 40px;
  border: none;
  line-height: 40px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}
.login form .field:last-child, .register form .field:last-child, .passwordreset form .field:last-child, #forgot-password-modal #password-reset form .field:last-child {
  height: 40px;
  border: none;
}
.login form .list-input {
  height: 120px;
}
.login form .list-input:last-child {
  height: 120px;
}
span {
  display: block;
  margin-right: 40px;
}
#remember_up {
  display: inline;
}
.view-login .login h2,.titre_connection {
  width: 100%;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  font-size: 25px;
  color: #914d8e;
  font-family: 'gothamrounded-medium';
  margin-top: 55px;
}
.form-actions {
  margin-top: -90px;
  text-align: center;
}
.login-register .form-field label, .financial-assistance-wrapper .financial-assistance-form .form-field label,.login-register .form-field .tip, .financial-assistance-wrapper .financial-assistance-form .form-field .tip {
  display: none;
}
#footer-openedx {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.login .form-actions button[type="submit"],.login-register .action-primary, .financial-assistance-wrapper .financial-assistance-form .action-primary {
  padding: 0;
  text-shadow: none;
  box-shadow: none;
  background-color: transparent;
  border-radius: 0px;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  height: 38px;
  border: 1px solid #914d8e;
  color: #914d8e;
  line-height: 42px;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'helveticaneue';
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.login-register .form-field .field-link, .financial-assistance-wrapper .financial-assistance-form .form-field .field-link {
  text-align: right;
}
@media(max-width: 1440px) {
  .content-wrapper {
    width: 100%;
  }
}
@media(max-width:511px) {
  .login-register .form-field .field-link, .financial-assistance-wrapper .financial-assistance-form .form-field .field-link {
    width: 99%;
    margin-right: 1%;
  }
  .content-wrapper {
    height: calc(100vh - 175px);
    background-color: #fff;
  }
  .login-register .form-wrapper, .financial-assistance-wrapper .financial-assistance-form .form-wrapper {
    padding: 0;
  }
  #login-anchor, .view-login .container {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: calc(100vh - 175px);
    min-width: 0px;
    max-width: 2000px;
  }
  .login-register form, .financial-assistance-wrapper .financial-assistance-form form, .login-register .wrapper-other-login, .financial-assistance-wrapper .financial-assistance-form .wrapper-other-login {
    border-radius: 0px;
    border: none;
  }
  .login-register .login-form, .financial-assistance-wrapper .financial-assistance-form .login-form {
    margin-bottom: 0px;
  }
}
@media(max-width: 480px) {
  #login-anchor, .view-login .container,.login-register .form-wrapper, .financial-assistance-wrapper .financial-assistance-form .form-wrapper,.login-register .form-wrapper form, .financial-assistance-wrapper .financial-assistance-form .form-wrapper form {
    width: 100%;
    padding: 0;
  }
  .login-register .form-field input, .financial-assistance-wrapper .financial-assistance-form .form-field input {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media(max-height: 454px) {
  body {
    margin-top: -45px;
  }
  .login .form-actions button[type="submit"], .login-register .action-primary, .financial-assistance-wrapper .financial-assistance-form .action-primary {
    margin-top: 8px;
  }
  .login-register, .financial-assistance-wrapper .financial-assistance-form {
    min-height: calc(100vh - 115px);
  }
  #login-anchor, .view-login .container {
    top: 0;
    left: 0;
    position: relative;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    border: none;
    height: calc(100vh - 120px);
    min-height: 0px;
  }
  .login-register form, .financial-assistance-wrapper .financial-assistance-form form, .login-register .wrapper-other-login, .financial-assistance-wrapper .financial-assistance-form .wrapper-other-login {
    border: none;
    border-radius: 0px;
    padding: 0;
  }
  .login-register .form-field .field-link, .financial-assistance-wrapper .financial-assistance-form .form-field .field-link {
    width: 99%;
    margin-right: 1%;
  }
  .login-register .login-form, .financial-assistance-wrapper .financial-assistance-form .login-form {
    margin-bottom: 0;
  }
  .content-wrapper {
    height: calc(100vh - 115px);
    background-color: #fff;
  }
  .login-register .form-wrapper, .financial-assistance-wrapper .financial-assistance-form .form-wrapper {
    padding: 0;
  }
}
